{% load i18n %}

<div class="col-md-12">
  <div class="featured-box featured-box-cart">
    <div class="box-content">
      <form method="post" action="">
        <table cellspacing="0" class="shop_table" width="100%">
          <thead>
            <tr>
              <th class="product-name">
                {% trans "პროდუქტი/ვარიანტი" %}
              </th>
              <th class="product-quantity">
                {% trans "სრული ფასი" %}
              </th>
              <th class="product-subtotal">
                {% trans "სტატუსი" %}
              </th>
            </tr>
          </thead>
          <tbody>
            {% for order in user.get_orders %}
              <tr class="cart_table_item">
                <td class="product-name">
                  {% for line in order.lines.all %}
                    <span>{{line.option}}</span><br>
                  {% endfor %}
                </td>
                <td class="product-subtotal">
                  <span class="amount">GEL {{order.get_price}}</span>
                </td>
                <td class="status-{{order.status}}">
                  <span class="amount">{{order.get_status_display}}</span>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
