{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans "მესიჯი" %} {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-centered">
            <div class="page-header">
                <h4>{% trans "ახალი შეტყობინება" %}</h4>
            </div>
            {% if receiver %}
                <form method="POST" action=".">
                    {% csrf_token %}
                    <p>{% trans "თქვენი ადრესატია" %} - {{receiver}}</p>
                    <textarea required style="width:100%;height:200px;" name="content" placeholder="{% trans "შეტყობინების ტექსტი" %}">{{predef}}</textarea>
                    <br><br>
                    <p>{% trans "შესთავაზეთ სპეციალური ფასი, სპეციალური მოთხოვნისთვის " %} (GEL{{price}} {% trans "ან მეტი" %})
                        <input name="special_price" class="form-control" type="number" min="{{price}}" step="0.1" max="999" required>
                    </p>
                    <button class="btn btn-md">{% trans "გაგზავნა" %}</button>
                </form>
            {% else %}
                <div style="height:400px;">
                    <p>{% trans "სამწუხაროდ ადრესატი ვერ მოიძებნა" %}</p>
                </div>
            {% endif %}
        </div>

        <div class="spacer-horizontal"></div>
        <div class="spacer-horizontal"></div>
    </div>

{% endblock %}