{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% trans "კონტაქტი" %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="page-header">
      <h4>
        {% trans "მოგესალმები, რით შემიძლია დაგეხმარო?!" %}
      </h4>
    </div>
    <ul>
      <li>{% trans "სწრაფი ელ.ფოსტით" %}</li><br>
      <li>{% trans "პირადი ელ.ფოსტით" %}</li><br>
      <li>{% trans "ნომრით" %}</li><br>
    </ul>
  </div>
{% endblock %}
