{% load i18n %}

{% if user.is_authenticated %}
<div class="row row-comment">
  <form method="POST" action=".">
    {% csrf_token %}
    <textarea class="form-control" name='comment'></textarea><br>
    <button type="submit" class="btn btn-default" type="submit">
      {% trans "კომენტარის დატოვება" %}
    </button>
  </form>
  {% else %}
    <p>
      <a href="{% url 'auth:signin' %}?next={{request.path}}">
        {% trans "გაიარე ავტორიზაცია" %}
      </a>
      {% trans "კომენტარის დასატოვებლად" %}</p>
  {% endif %}

  <hr>

  {% for review in object.reviews.all %}
    <div class="comment-container">
      {{review.content}}<br><br>
      <div class="pull-right comment-meta">
        {{review.created}}
      </div>
      <div class="pull-left comment-meta">
        {{review.author}}
      </div>
    </div>
  {% endfor %}

</div>
