<div class="{% if not messages %}message-ajaxable-hide{% else %}message-ajaxable{% endif %}">
  {% for message in messages %}
    <div class="{{message.tags}} message-content">{{message}}</div>
  {% empty %}
    <div class="success message-content"></div>
  {% endfor %}
</div>

{% block scripts %}
<script>
  $(document).ready(function(){
    setTimeout(hide_messsage, 3000);
  });
</script>
{% endblock %}
