{% load i18n %}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">handX</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'shop:main' %}">
                      {% trans "ნივთები" %}
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li>
                  <a href="{% url 'auth:profile' %}">
                    {% trans "კალათა" %}
                  </a>
                </li>
                {% else %}
                <li>
                  <a href="{% url 'auth:signin' %}">
                    {% trans "ავტორიზაცია" %}</a>
                  </a>
                </li>
                <li>
                  <a href="{% url 'auth:signup' %}">
                    {% trans "რეგისტრაცია" %}
                  </a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'common:sp' name='aboutus' %}">
                      {% trans "ჩვენს შესახებ" %}
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="{% url 'shop:list' %}"
                  <i class="fa fa-search" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                {% if user.get_seller != None and user.is_staff %}
                  <a href="{% url 'admin:shop_product_changelist' %}">
                    {% trans "მართე პროდუქტები" %}
                  </a>
                {% else %}
                  <a href="{% url 'selling:start' %}">
                    {% trans "გაყიდე handx-ზე" %}
                  </a>
                {% endif %}
              </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
