{% load i18n %}

<div class="row row-search">
  <div class="col-lg-12">
    <div class="input-group">
      <input id="searchBox" value="{{query}}" type="text" class="form-control" placeholder="{% trans 'მოძებნე...' %}">
      <span class="input-group-btn">
        <button onclick="search()" class="btn btn-accent btn-search" type="button">
          {% trans "მოძებნე" %}
        </button>
      </span>
    </div>
  </div>
</div>

<script>
  function search(){
    value = $("#searchBox").val();
    var url = "";
    if (value.length != 0 ){
      if (window.location.href.indexOf("?query") > 0)
        url = window.location.href.split("?query")[0]
      else
        url = window.location.href
      window.location.href = url + "?query=" + value;
    }
  }
</script>
