{% load i18n %}

<div class="row">
  <div class="page-header" style="margin-left: 15px;">
    <h4><strog>{% trans "რას გთავაზობთ?" %}</strong></h4>
  </div>
  <ul>
    <li>{% trans "sluts like hell" %}</li>
    <li>{% trans "good beer" %}</li>
    <li>{% trans "and blowjob, like never before" %}</li>
  </ul><br>

  <div class="page-header" style="margin-left: 15px;">
    <h4><strog>{% trans "რა არის საჭირო?" %}</strong></h4>
  </div>
  <ul>
    <li>{% trans "რახან გინდა გაყიდვა" %}</li>
    <li>{% trans "გაქვს პირადობის მოწმობა" %}</li>
    <li>{% trans "და ქმნი სელნაკეთ ნივთებს" %}</li>
    <li>{% trans "ჩვენ მხოლოდ სამი ველი გვინდა :)" %}</li>
  </ul><br>
</div>
