{% load static %}

{% block head %}
  <link href="{% static 'css/wordCloud.css' %}" rel="stylesheet">
{% endblock %}

<div class="row">
  <ul class="word-cloud">
    {% for word in wordcloud %}
      <li class="word-cloud__word word-cloud__word--{{word.count}}">
        <a href={% url "calipso:psearch" query=word.word %}>
          {{word}}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
