{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="handx - online handmade shopping platform from DeepFlow LLC">
	<meta name="author" content="DeepFlow LLC">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}{% endblock title %}</title>

    <!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- Icon Fonts -->
	<link href="{% static 'css/fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet">

	<script src="{% static 'vendor/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<!--AJAXABLE BETA-->
	<script async defer src="{% static 'js/ajaxable.js' %}"></script>
</head>

<body>

    {% block content %}
    
    {% endblock %}


	{% block scripts %}

	{% endblock %}
</body>

</html>
