{% extends 'calipso/base.html' %}
{% load i18n static  %}

{% block title %} BITBOT {% endblock %}

{% block content %}

<div id="message-container" class="container bitbot">
    <div hidden id="logo" class="row-bitbot">
        <img src="{% static 'images/bitbot.png' %}">
    </div>

    <div hidden id="intro" class="row question">
        {% trans "რით შემიძლია დაგეხმაროთ?! :)" %}
    </div>

</div>

<div class="message-box">
    <input id="user-input" placeholder="{% trans 'თქვენი პასუხი' %}" class="form-control" type="text" onkeydown="pushAnswer(event)"/>
</div>

<script>
    var HTML = '<div class="row MSG_CLS">MSG_CNT</div>';
    var lockInp = false;

    $(document).ready(function(){
        $("#logo").fadeIn(1500);
        setTimeout(function(){$("#intro").show();}, 1500);
    });

    function pushAnswer(source){
        if (typeof(source) == "string"){
            // source is server
            console.log(source)
            source = processResponse(source);
            $("#message-container").append(HTML.replace("MSG_CLS", "question")
                .replace("MSG_CNT", source));
            $("#user-input").removeAttr("disabled");
        } else {
            // source is user & pressed [ENTER]
            if (source.keyCode == "13"){
                var text = $(source.target).val();
                $("#message-container").append(HTML.replace("MSG_CLS", "answer")
                    .replace("MSG_CNT", text));
                $(source.target).val("");
                $(source.target).attr("disabled", "disabled");
                sendQuestion(text);
            }
        }
        // automatically scroll to bottom of the conversation
        $('#message-container').animate({scrollTop: $('#message-container').get(0).scrollHeight}, 1500);
    }

    function sendQuestion(text){
        $.get(document.location.href, {backlink:true, query: text}, function(data, status){
            pushAnswer(data['response']);
            $("#user-input").focus();
        });
    }

    function processResponse(response){
        // @ the beginning just for link invocation
        if (response.indexOf("http://") != -1){
            // match only short urls
            var matches = response.match(/http:\/\/.*?\..*?\/.{3}\//g);
            if (matches){
                for (var i = 0; i < matches.length; i++){
                    response = response.replace(matches[i], '<a class="bitbot_link" href="' + matches[i] + '">' + matches[i] + '</a>');
                }
            }
        }
        return response;
    }
</script>

<style>
    .bitbot{
        margin-top: 20px;
        padding: 10px 25px;
        max-width: 520px;
        margin-bottom: 40px;
        height: 400px;
        overflow-y: scroll;
    }
    ::-webkit-scrollbar{
        display: none;
    }
    .question{
        float: left;
        background: darkcyan;
        color: white;
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        letter-spacing: .8px;
    }
    .answer{
        float: right;
        background: lightcyan;
        color: black;
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        letter-spacing: .8px;
    }
    .row{
        clear: both;
    }
    .row-bitbot{
        text-align: center;
        background: #111;
        border-radius: 10px;
    }
    .message-box{
        text-align: center;
        max-width: 520px;
        margin: auto;
    }
    .bitbot_link{
        color: cyan;
        font-size: 12px;
    }
</style>

{% endblock %}