{% load thumbnail %}

<html>
    <head>
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
            crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <title>grid</title>
    </head>
    <body style="overflow-x:hidden;">
        <div style="width:110%;">
            {% for o in object_list %}
                {% thumbnail o.first_image "200x200" crop="center" as th %}
                    <img height="{{th.height}}px" width="{{th.width}}px" class="animation" src="{{th.url}}">
                {% endthumbnail %}
            {% endfor %}
        </div>
        <style>
            img {
                -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
                filter: blur(5px) hue-rotate(40deg);
            }
            img:hover{
                -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
                filter: blur(0px) hue-rotate(0deg);
            }
        </style>
        <script>
            $(document).ready(function(){
                for (var i=0; i<$("img").length; i++){
                    $("img")[i].css({
                        "filter": "blur(" + rnd(4, 10) + "px) hue-rotate(" + rnd(20, 60) + "deg)",
                    });
                }
            });

            function rnd(min, max) {
                return Math.random() * (max - min) + min;
            }
        </script>
    </body>
</html>