<html>
    <head>
        {% load thumbnail static %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="{% static 'vendor/jquery.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/grid.css' %}">
        <title>gridX</title>
    </head>
    <body>
        <div id="pattern" class="pattern">
            <ul class="g">
                {% for object in object_list %}
                    {% thumbnail object.first_image "316x316" crop="center" quality=50 as th %}
                        <li><a href="javascript:void(0);"><img src="{{th.url}}"/></a></li>
                    {% endthumbnail %}
                {% endfor %}
            </ul>
        </div>
    </body>
</html>