<html>
    <head>
        {% load thumbnail static %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="{% static 'vendor/jquery.min.js' %}"></script>
        <title>{{object_list.count}}-gridX</title>
    </head>
    <body>
        
        <div class="grid">
            {% for object in object_list %}
                <div class="img-container">
                    {% thumbnail object.first_image "200x200" crop="center" quality=60 as th %}
                        <img class="image" src="{{th.url}}" />
                    {% endthumbnail %}
                </div>
            {% endfor %}
        </div>


        <script>
            var sheight = 0;
            var swidth = 0;

            var dwidth = 0, dheight = 0;

            $(document).ready(function(){
                sheight = $(window).height();
                swidth = $(window).width();

                dwidth = swidth / Math.ceil(Math.sqrt(60));
                dheight = sheight / Math.ceil(Math.sqrt(60));

                $.each($(".img-container"), function(i, e){
                    $(e).css("width", dwidth + "px").css("height", dheight + "px");
                });
            });
        </script>

        <style>
            .img-container{
                float: left;
            }
        </style>
    </body>
</html>