{% extends "base.html" %}
{% load static i18n %}

{% block title %} {% trans "CALSEA" %} {% endblock title %}

{% block content %}

<section class="page-top-md" style="background: url();background:#1abc9c;">
  <div class="container">
    <div class="page-top-in">
      <h2>
        <span>
          {% if page_head %}
            {{page_head}}
          {% else %}
            {% trans "პროდუქტები" %}
          {% endif %}
        </span>
      </h2>
    </div>
  </div>
</section>

<div class="container">
  <div class="catalog">

    {% for x in object_list|four_count %}
      {% for item in object_list|get_four:x %}
        {% include 'shop/partials/store_product.html' %}
      {% endfor %}
    {% endfor %}
    {% include 'partials/pagination.html' %}

  </div>
</div>

{% endblock content %}