{% load static %}


<!-- Begin Top Selling -->
<section class="products-slide">
  <div class="container">
    <h2 class="title"><span>{{product_slider_title}}</span></h2>
    <div class="row">
      <div id="owl-product-slide" class="owl-carousel product-slide">
        {% for item in popular %}
          {% include 'shop/partials/mp_product_slide.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- End Top Selling -->
