{% load i18n static thumbnail %}

<div class="col-md-12 animation">
  <div class="item product">
    <div class="product-thumb-info">
      <div class="product-thumb-info-image">
        <span class="product-thumb-info-act">
          <a href="javascript:void(0);" onclick="ps({{item.pk}});">
              <span><i class="fa fa-external-link"></i></span>
          </a>
          <a onclick="ajaxable_v2(event)" data-method="upvote" data-args="{'ppk': {{item.pk}}, 'u': '{{user.pk}}'}" class="add-to-cart-product">
              <span><i class="fa fa-heart"></i></span>
          </a>
        </span>
        <div>
          {% thumbnail item.first_image "263x263" crop="center" quality=60 as th %}
            <img style="margin:auto;" alt="" class="img-responsive" src="{{th.url}}">
          {% endthumbnail %}
        </div>
      </div>

      <div class="product-thumb-info-content">
        <span class="price pull-right">{{item.price_range}}</span>
        <h4><a href="{{item.get_absolute_url}}">{{item.get_sname}}</a></h4>
      </div>
    </div>
  </div>
</div>
