{% load thumbnail %}

<li class="product">
  <div class="product-thumb-info">
    <div class="product-thumb-info-image">
      <a href="{{item.get_absolute_url}}">
        {% thumbnail item.first_image "60x90" crop="center" quality=60 as th %}
          <img alt="" width="60" src="{{th.url}}">
        {% endthumbnail %}
      </a>
    </div>

    <div class="product-thumb-info-content">
      <h4><a href="{{item.get_absolute_url}}">{{item.get_sname}}</a></h4><br>
      <span class="price">{{item.price_average}}</span>
    </div>
  </div>
</li>
