{% load i18n %}

<section class="list-thumbs">
  <div class="container">
    <div class="row">

      <div class="col-sm-4 bestseller animation">
        <h3>{% trans "ბოლოს დამატებული" %}</h3>
        <ul class="list-unstyled list-thumbs-pro">
          {% for item in latest %}
            {% include 'shop/partials/mp_thumb_item.html' %}
          {% endfor %}
        </ul>
      </div>

      <div class="col-sm-4 bestseller animation">
        <h3>{% trans "ყველაზე გაყიდვადი" %}</h3>
        <ul class="list-unstyled list-thumbs-pro">
          {% for item in topseller %}
            {% include 'shop/partials/mp_thumb_item.html' %}
          {% endfor %}
        </ul>
      </div>

      <div class="col-sm-4 bestseller animation">
        <h3>{% trans "შემთხვევით შერჩეული" %}</h3>
        <ul class="list-unstyled list-thumbs-pro">
          {% for item in random %}
            {% include 'shop/partials/mp_thumb_item.html' %}
          {% endfor %}
        </ul>
      </div>

    </div>

    {% include 'partials/fast_infos.html' %}
    
  </div>
</section>
