{% load i18n %}

<section class="products-slide">
  <div class="container">
    <h2 class="title"><span>
      {% if title %}
        {{title}}
      {% else %}
        {% trans "მსგავსი პროდუქტები" %}
      {% endif %}
    </span></h2>
    <div class="row">
      <div id="owl-product-slide" class="owl-carousel product-slide">
        {% for item in relateds %}
          {% include 'shop/partials/related_product.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
