{% load i18n thumbnail %}

<div class="col-xs-6 col-sm-3 animation">
    <div class="product">
        <div class="product-thumb-info">
        <div class="product-thumb-info-image">
            <span class="product-thumb-info-act">
                <a href="{{item.get_absolute_url}}">
                    <span><i class="fa fa-external-link"></i></span>
                </a>
                <a onclick="ajaxable_v2(event)" data-method="upvote" data-args="{'ppk': {{item.pk}}, 'u': '{{user.pk}}'}" class="add-to-cart-product">
                    <span><i class="fa fa-heart"></i></span>
                </a>
            </span>
            {% thumbnail item.first_image "350x395" crop="center" quality=60 as th %}
                <img alt="" class="img-responsive" src="{{th.url}}">
            {% endthumbnail %}
        </div>
        <div class="product-thumb-info-content">
            <span class="price pull-right">
                {{item.price_range}}
            </span>
            <h4><a href="{{item.get_absolute_url}}">{{item.get_sname|truncatechars:20}}</a></h4>
        </div>
        </div>
    </div>
</div>