{% load i18n %}
<!-- Begin AJAXABLE -->
<div class="modal fade bs-ajaxable-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="ajaxable-modal-content" id="ajaxable-modal-content">

    </div><br>
    <div class="ajaxable-modal-content">
      {% for message in messages %}
        {{message}}<br>
      {% endfor %}
    </div>
  </div>
</div>
<!-- End Search -->

{% block scripts %}
  <script>
    $(document).ready(function(){
      console.log("{{messages|length}}")
      if ("{{messages|length}}" != "0"){
        $(".bs-ajaxable-modal-sm").modal("show");
      }
    });
  </script>
{% endblock %}