{% load i18n thumbnail static %}

<section class="collections">
    <div class="container">
        <div class="row">
            <h3 class="title"><span>{% trans "ჩვენი ბრენდები" %}</span></h3>
            {% for brand in brands %}
                <div class="col-xs-4 collect-item animation">
                    <a href="{{brand.get_absolute_url}}" class="collect-item-thumb">
                        {% if brand.image %}
                            {% thumbnail brand.image "360x230" crop="center" quality=60 as th %}
                                <img src="{{th.url}}" class="img-responsive" alt="Ad">
                            {% endthumbnail %}
                        {% else %}
                            <img src="{% static 'images/placeholder360x150.png' %}" class="img-responsive" alt="Ad">
                        {% endif %}
                    </a>
                    <h2>{{brand.shopName}}</h2>
                    <p>{{brand.short_desc}}</p>
                    <a href="{{brand.get_absolute_url}}" class="btn">{% trans "შეიტყვე მეტი" %}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
