{% load i18n %}

<ul class="list-inline wp-ads animation">
  <li>
    <a href="{% url 'blog:page' page_name='order&delivery' %}" class="link-normal">
      <i class="fa fa-plane"></i>
      <strong>{% trans "მიტანის შესახებ" %}</strong>
      <span></span>
    </a>
  </li>
  <li>
    <a href="{% url 'blog:page' page_name='returns' %}" class="link-normal">
      <i class="fa fa-refresh"></i>
      <strong>{% trans "დაბრუნება" %}</strong>
      <span></span>
    </a>
  </li>
  <li>
    <a href="{% url 'blog:page' page_name='contactus' %}" class="link-normal">
      <i class="fa fa-phone"></i>
      <strong>{% trans "კონტაქტი" %}</strong>
      <span></span>
    </a>
  </li>
  <li>
    <a href="{% url 'blog:page' page_name='privacy' %}" class="link-normal">
      <i class="fa fa-lock"></i>
      <strong>{% trans "უსაფრთხოება" %}</strong>
      <span></span>
    </a>
  </li>
  <li>
    <a href="{% url 'blog:page' page_name='FAQ' %}" class="link-normal">
      <i class="fa fa-question-circle"></i>
      <strong>{% trans "FAQ" %}</strong>
      <span></span>
    </a>
  </li>
</ul>
