{% load i18n thumbnail %}

<section class="highlight">
    <div class="container">
        <div class="row row-narrow">
            <h3 class="title"><span>FEATURED</span></h3>
            {% for fitem in featured %}
                <div class="col-xs-6 {% if forloop.counter != 2 %} col-sm-3 {% endif %} animation">
                    <div class="cat-item">
                        <figure>
                            <a href="{{fitem.get_absolute_url}}">
                                {% if forloop.counter == 2 %}
                                    {% thumbnail fitem.first_image "590x290" crop="center" quality=60 as th %}
                                        <img style="margin: auto;" class="img-responsive" alt="" src="{{th.url}}">
                                    {% endthumbnail %}
                                {% else %}
                                    {% thumbnail fitem.first_image "278x278" crop="center" quality=60 as th %}
                                        <img style="margin:auto;" class="img-responsive" alt="" src="{{th.url}}">
                                    {% endthumbnail %}
                                {% endif %}
                            </a>
                            <figcaption>
                                <div class="cat-description">
                                    <h3>{{fitem.get_sname}}</h3>
                                    <a href="{{fitem.get_absolute_url}}">{% trans "დეტალურად" %}</a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>