{% load i18n %}

<footer class="footer">
  <div class="container">
    <div class="upper-foot">
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <h2>{% trans "საკონტაქტო" %}</h2>
          <address>
            <i class="fa fa-map-marker"></i>{% trans "საქართველო, თბილისი" %}<br>
            <a href="http://m.me/handx.org" target="_blank"><i class="fa fa-phone"></i>handX</a><br>
            <i class="fa fa-envelope"></i><a href="mailto:deepflowllc@gmail.com">deepflowllc@gmail.com</a>
          </address>
        </div>
        <div class="col-xs-6 col-sm-3">
          <h2>{% trans "ბმულები" %}</h2>
          <ul class="list-unstyled">
            <li><a href="{% url 'blog:page' page_name='selling' %}">{% trans "გაყიდე handX-ზე" %}</a></li>
            <li><a href="{% url 'blog:page' page_name='order&delivery' %}">{% trans "შეკვეთები/მიწოდება" %}</a></li>
            <li><a href="{% url 'blog:page' page_name='terms&conds' %}">{% trans "მომსახურების პირობები" %}</a></li>
            <li><a href="{% url 'blog:page' page_name='FAQ' %}">--- FAQ ---</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-3">
          <h2>{% trans "თეგები" %}</h2>
          <ul class="list-inline tagclouds">
            <li><a href="{% url 'blog:list' %}">{% trans "ბლოგი" %}</a></li>
            <li><a href="{% url 'shop:list' %}">{% trans "პროდუქტები" %}</a></li>
            <li><a href="{% url 'selling:start' %}">{% trans "დაიწყე გაყიდვა" %}</a></li>
            <li><a href="{% url 'blog:page' page_name='promotions' %}">{% trans "შემოთავაზებები" %}</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-3">
          <h2>{% trans "არ გამოტოვო" %}</h2>
          <p>{% trans "გახდი ჩვენი გამომწერი. მიიღე საუკეთესო შემოთავაზებები პირველმა (რეკლამის გარეშე)" %}</p>
          <form class="form-inline form-newsletter" role="form" method="POST" action="{% url 'auth:newsletter' %}">
            {% csrf_token %}
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail2">{% trans "თქვენი ელ.ფოსტა" %}</label>
              <input required type="email" class="form-control" id="exampleInputEmail2" name="email" placeholder="{% trans 'თქვენი ელ.ფოსტა' %}">
            </div>
            <button type="submit" class="btn"><i class="fa fa-caret-right"></i></button>
          </form>
        </div>
      </div>
    </div>
    <div class="below-foot">
      <div class="row">
        <div class="col-xs-6 copyrights">
          <p>Copyright © 2017 <a href="{% url 'blog:page' page_name='deepflow' %}">DeepFlow</a><br>
          All rights reserved.</p>
        </div>
        <div class="col-xs-6 text-right">
          <ul class="list-inline social-list">
            <li><a data-toggle="tooltip" data-placement="top" title="Facebook" target="_blank" href="https://www.facebook.com/handx.org/"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
