{% load i18n static %}
{% get_current_language as lang %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<form id="lang_form" action="/i18n/setlang/" method="POST">
    {% csrf_token %}
    <select hidden id="lang_select" name="language" class="lang-select">
		{% for language in languages %}
            <option value="{{language.code}}">{{language.code}}</option>
		{% endfor %}
	</select>
</form>

<li class="dropdown langs">
    {% if lang == "ka" %}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{% static 'images/flags/geoflag.jpg' %}" alt="English">
            <span class="caret"></span>
        </a>
    {% elif lang == "en" %}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{% static 'images/flags/engflag.jpg' %}" alt="English">
            <span class="caret"></span>
        </a>
    {% endif %}
    <ul class="dropdown-menu" role="menu">
        {% if lang == "ka" %}
            <li><a onclick="manageLanguages(this);" href="javascript:void(0);" data-lang="en"><img src="{% static 'images/flags/engflag.jpg' %}" alt="EN"></a></li>
        {% elif lang == "en" %}
            <li><a onclick="manageLanguages(this);" href="javascript:void(0)" data-lang="ka"><img src="{% static 'images/flags/geoflag.jpg' %}" alt="GE"></a></li>
        {% endif %}
    </ul>
</li>

