{% load i18n thumbnail static %}

<section class="latest-blog">
    <div class="container">
        <h2 class="title"><span>{% trans "პოსეტბი" %}</span></h2>
        <div class="row">
            {% for post in posts %}
                <div class="col-xs-6 animation">
                    <article class="post">
                        <div class="post-image">
                            <span class="post-info-act">
                                <a href="{{post.get_absolute_url}}"><i class="fa fa-book" aria-hidden="true"></i>
                            </span>
                            {% if post.image %}
                                {% thumbnail post.image "555x277" crop="center" quality=60 as th %}
                                    <img class="img-responsive" src="{{th.url}}" alt="Blog">
                                {% endthumbnail %}
                            {% else %}
                                <img src="{% static 'images/placeholder555x277.png' %}">
                            {% endif %}
                        </div>
                        <h3><a href="{{post.get_absolute_url}}">{{post.get_title}}</a></h3>
                        <p class="date"><small>{{post.created}}</small></p>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
</section>