<div style="height:300px;" id="map"></div>

{% block scripts %}
<script>
  var map = null;
  var marker = null;
  var geocoder = null;

  $(document).ready(function(){
    $("#id_line1").on("change", get_address);
    $("#id_line2").on("change", get_address);
    $("#id_line3").on("change", get_address);
  });

  function initMap(){
    latitude = $('#id_lat').val();
    longitude = $("#id_lng").val();
    if (latitude.length == 0) latitude=41.7
    if (longitude.length == 0) longitude=44.7
    initial = {
      center: {lat:parseFloat(latitude), lng:parseFloat(longitude)},
      zoom: 9
    }
    map = new google.maps.Map(document.getElementById("map"), initial);
    if (latitude != 41.7 && longitude != 44.7){
      set_marker(parseFloat(latitude), parseFloat(longitude));
      map.setZoom(15);
    }
    geocoder = new google.maps.Geocoder;
  }

  function get_address(){
    if (geocoder != null){
      console.log("changed");
      address = $("#id_line1").val() + " ";
      address += $("#id_line2").val() + " ";
      address += $("#id_line3").val();
      get_coords(address);
    }
  }

  function set_marker(lat, lng){
    if (marker != null)
      marker.setMap(null);
    marker = new google.maps.Marker({
      position: {lat, lng},
      map: map
    });
  }

  function get_coords(address){
    geocoder.geocode({"address": address}, function(results, status){
      if (status == "OK"){
        map.setZoom(15);
        map.setCenter(results[0].geometry.location);
        set_marker(results[0].geometry.location.lat(),
          results[0].geometry.location.lng());
        $("#id_lat").val(results[0].geometry.location.lat());
        $("#id_lng").val(results[0].geometry.location.lng());
      } else {
        console.log("STATUS - ", status);
      }
    });
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArOqECLO1OY8YM92XHRelMR0G4uxF6-qE&callback=initMap" async defer></script>
{% endblock %}
