{% load i18n thumbnail %}

<!-- Begin Main Slide -->
<section class="main-slide">
  <div class="container">
    <div id="owl-third-demo" class="owl-carousel main-demo second-demo">
      {% for slide in slider %}
        <div class="item">
          {% thumbnail slide.image "1140x500" crop="center" quality=60 as th %}
            <img src="{{th.url}}" class="img-responsive" alt="{{th.url}}">
          {% endthumbnail %}
          <div class="item-caption">
            <div class="item-caption-inner">
              <div class="item-caption-wrap">
                <p class="item-cat">
                  <a href="{{slide.caption_url}}">{{slide.caption_text}}</a>
                </p>
                <h2>{{slide.main_text}}</h2>
                {% if slide.action_text %}
                <a href="{{slide.action_url}}" class="btn btn-white hidden-xs">
                  {{slide.action_text}}
                </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- End Main Slide -->

