{% load i18n static %}

<nav class="navbar navbar-default navbar-main navbar-main-slide" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="logo" href="/"><img src="{% static 'images/logo.jpg' %}" alt="Flatize"></a>
      {% comment %}
      <span class="logo">
        <h2 style="margin-bottom:-5px;text-transform:none;">
          <span class="logo-link"><a href="/">handX</a></span>
          <span><a href="{% url 'blog:page' page_name='whatsraw' %}" class="logo-mode">raw</a></span>
        </h2>
      </span>
      {% endcomment %}
      </div>
    <ul class="nav navbar-nav navbar-act pull-right">
      <li class="login">
        <a href="{% url 'auth:profile' %}">
          <i class="fa fa-user"></i>
        </a>
      </li>
      <li class="search">
        <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">
          <i class="fa fa-search"></i>
        </a>
      </li>
    </ul>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        <li>
          <a class="text-nice" href="{% url 'shop:list' %}">{% trans "მაღაზია" %}</a>
        </li>
        <li>
          <a href="{% url 'blog:list' %}" class="text-nice" href="#">{% trans "ბლოგი" %}</a>
        </li>
        {% comment %}
        <li>
          <a href="{% url 'calipso:bitbot' %}" class="text-nice">bitbot</a>
        </li>
        {% endcomment %}
        {% if user.is_authenticated %}
        <li>
          <a class="text-nice" href="{% url 'auth:signout' %}">{% trans "გასვლა" %}</a>
        </li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
