<div class="box">
    <p>იყო თუ არა ინფორმაცია გამოსადეგი თქვენთვის?</p>
    <button type="button" class="btn btn-default btn-xs">დიახ</button>
    <button class="btn btn-default btn-xs" onclick="why()">არა</button>
    <div style="display:none;" id="why_not">
      <input class="form-control" type="text" placeholder="გთხოვთ მიუთითოთ მიზეზი">
      <button class="btn btn-default btn-xs">შეფასება</button>
    </div>
</div>

<style>
  .box{
    box-shadow: 5px 10px 15px #666666;
    padding: 10px 5px;
    color: black;
  }
  .why_not{
    display: block !important;
    margin: 15px 0px 0px 0px;
  }
</style>

<script>
  function why(){
    $("#why_not").addClass("why_not");
    $("#why_not").find("input").focus();
  }
</script> 