{% load static %}

{% if is_paginated == 1 %}
<div style="clear: both;"></div>
<ul class="pagination animation">
  {% if page_obj.has_previous %}
    <li>
      <button data-qname="page" data-value="{{page_obj.previous_page_number}}" onclick="inject_param(this)">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </button>
    </li>
  {% else %}
    <li class="disabled">
      <button>
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </button>
    </li>
  {% endif %}

  {% for x in page_obj.paginator.page_range %}
    {% if forloop.counter == page_obj.number %}
      <li class="active">
        <button data-qname="page" data-value="{{forloop.counter}}" onclick="inject_param(this)">
          {{forloop.counter}}
        </button>
      </li>
    {% else %}
      <li>
        <button data-qname="page" data-value="{{forloop.counter}}" onclick="inject_param(this)">
          {{forloop.counter}}
        </button>
      </li>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
    <li>
      <button data-qname="page" data-value="{{page_obj.next_page_number}}" onclick="inject_param(this)">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </button>
    </li>
  {% else %}
    <li class="disabled">
      <button>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </button>
    </li>
  {% endif %}
</ul>
{% endif %}