{% load i18n %}

<section class="pi-parallax parallax-shop" data-stellar-background-ratio="0.6">
  <div class="container">
    <div id="owl-text-slide" class="owl-carousel">
      <div class="item">
        <div class="intro">
          <h2 class="intro-head">handX | raw</h2>
          {# <span class="divider"></span>#}
          <p style="font-size:16px;">{% trans "ჩვენ handX-ში გვაქვს რამდენიმე ტიპის მომხმარებელზე გათვლილი სტრატეგია, რაც იმას ნიშნავს, რომ ვინც არ უნდა იყო, შენ ყოველთვის შეძლებ სასურველი პროდუქტის მოძებნას" %}</p>
          <a href="{% url 'blog:page' page_name='whatsraw' %}" class="btn btn-white hidden-xs">
            {% trans "შეიტყვე მეტი" %}  
          </a>
        </div>
      </div>
      <div class="item">
        <div class="intro">
          <h2 class="intro-head">handX | fashion</h2>
          {# <span class="divider"></span>#}
          <p style="font-size:16px;">{% trans "ჩვენ handX-ში გვაქვს რამდენიმე ტიპის მომხმარებელზე გათვლილი სტრატეგია, რაც იმას ნიშნავს, რომ ვინც არ უნდა იყო, შენ ყოველთვის შეძლებ სასურველი პროდუქტის მოძებნას" %}</p>
          <a href="{% url 'blog:page' page_name='whatsfashion' %}" class="btn btn-white hidden-xs">
            {% trans "შეიტყვე მეტი" %}
          </a>
        </div>
      </div>
      <div class="item">
        <div class="intro">
          <h2 class="intro-head">handX | style</h2>
          {# <span class="divider"></span>#}
          <p style="font-size:16px;">{% trans "ჩვენ handX-ში გვაქვს რამდენიმე ტიპის მომხმარებელზე გათვლილი სტრატეგია, რაც იმას ნიშნავს, რომ ვინც არ უნდა იყო, შენ ყოველთვის შეძლებ სასურველი პროდუქტის მოძებნას" %}</p>
          <a href="{% url 'blog:page' page_name='whatstyle' %}" class="btn btn-white hidden-xs">
            {% trans "შეიტყვე მეტი" %}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
