{% load i18n %}

<div id="quickview" class="modal fade quickview-wrapper" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <div class="product-detail">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="product-preview">
                            <ul class="bxslider" id="slider1"></ul>
                            <ul class="list-inline bx-pager" id="slider-thumbs">]</ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="summary entry-summary">

                            <h3 id="quickview-name"></h3>
                            
                            <div class="reviews-counter clearfix">
                                <div class="rating five-stars pull-left">
                                    <div class="star-rating"></div>
                                    <div class="star-bg"></div>
                                </div>
                                <span>  </span>
                            </div>

                            <p class="price">
                                <span class="amount" id="price-range"></span>
                            </p>
                            
                            <ul class="list-inline list-select clearfix">
                                <li>
                                    <div class="list-sort">
                                        <select style="height: 47px;" id="optionSelector" class="formDropdown">

                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <button class="btn btn-grey"  id="basketAddBtn" onclick="ajaxable_v2(event)" data-method="addtobasket" data-args='{"bpk": "{{user.basket.pk}}", "opk":"OPTION", "quantity":1}'>
                                        <span><i class="fa fa-shopping-cart"></i></span>
                                    </button>
                                    <button id="quickview-upvote" onclick="ajaxable_v2(event)" data-method="upvote" data-args='{"ppk": "", "u": "{{user.pk}}"}' class="btn btn-grey">
                                        <span><i class="fa fa-heart"></i></span>
                                    </button>
                                </li>
                            </ul>

                            <hr>
                            
                            <strong>{% trans "საკვანძო სიტყვები" %}</strong> <br><br>
                            <ul class="list-unstyled product-meta">
                                <li id="keywords"> </li>
                            </ul>

                            <hr>

                            <div id="quickview-desc" class="panel-group">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>