{% load i18n %}

<!-- Begin Search -->
<div class="modal fade bs-example-modal-lg search-wrapper" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <p class="clearfix">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
          <span class="sr-only">Close</span>
        </button>
      </p>
      <form class="form-inline form-search" method="GET" action="{% url 'shop:search' %}" role="form">
        <div class="form-group">
          <label class="sr-only" for="textsearch">{% trans "შეიყვანეთ საძიებო სიტყვა" %}</label>
          <input name="query" type="text" class="form-control input-lg" id="textsearch" placeholder="{% trans 'საძიებო სიტყვა' %}">
        </div>
        <button type="submit" class="btn btn-white">{% trans "ძიება" %}</button>
      </form>
    </div>
  </div>
</div>
<!-- End Search -->
