{% load i18n static %}

<div id="top">
  <div class="container">
    {#<p class="pull-left text-note text-nice">{% trans "უბრალოდ, შექმნილი შენთვის" %}</p>#}
    {% comment %}
    <p class="pull-left text-note">
      <a href="{% url 'calipso:bitbot' %}">
        <img height="20px" src="{% static 'images/bitbot.png' %}" alt="bitbot"/>
      </a>
    </p>
    {% endcomment %}
    <span class="pull-left text-note text-nice" id="message_ajaxable">
      
    </span>
    <ul class="nav nav-pills nav-top navbar-right">

      {% include "partials/languages.html" %}

      <li class="dropdown my-account">
        {% if request.user.is_authenticated %}
          <a href="{{request.user.get_absolute_url}}" class="text-nice dropdown-toggle">
            {% trans "ჩემი ანგარიში" %}
          </a>
        {% else %}
          <a href="javascript:void(0);" onclick="$('#authModal').modal('show');" class="text-nice dropdown-toggle">
            {% trans "შემოგვიერთდი" %}
          </a>
        {% endif %}
      </li>
      <li class="dropdown menu-shop">
        <a href="{% url 'auth:profile' %}">
          <i class="fa fa-shopping-cart"></i>
          <span class="shopping-bag" style="color:black;font-weight:bold;font-size:12px;">
            {% if user.is_authenticated %}
              {{request.user.basket.lines.count}}
            {% else %}
              0
            {% endif %}
          </span>
        </a>
      </li>
      <li class="dropdown menu-shop" style="padding-right:0px;">
        <a href="{% url 'auth:messages' %}">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <span class="shopping-bag" style="color:black;font-weight:bold;font-size:12px;">
            {% if user.is_authenticated %}
              {{user.unseen_message_count}}
            {% else %}
              0
            {% endif %}
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>

{% include 'authentication/mixed_modal.html' %}
