{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "ავტორიზაცია" %}{% endblock title %}

{% block content %}

<section class="page-top">
  <div class="container">
    <div class="page-top-in">
      <h2><span>{% trans "სპეციალური შეთავაზება" %}</span></h2>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-centered animation">
        <div class="page-header">
          <h4>{% trans "სპეციალური შეთავაზება" %}</h4>
        </div>
        <form action="." method="POST">
          {% csrf_token %}
          <p>{% trans "სპეციალური ფასი" %} - <strong>GEL {{sprice}}</strong></p>
          <p>{% trans "დასახელება" %} - <a target="_blank" href="{{action}}">{{name}}</a></p>
          <p>
            <p>{% trans "სამუშაოს ხანგრძლივობა (დღეების რაოდენობა)" %}</p>
            <input class="form-control" type="number" name="day_count" max="15" min="1" step="1" value="2">
          </p>
          <p>
            <button type="submit" class="btn btn-primary">{% trans "დადასტურება" %}</button>
          </p>
        </form>
    </div>
  </div>
</div>
{% endblock content %}
