{% extends "base.html" %}
{% load i18n static thumbnail %}

{% load product %}

{% block title %} {% if object %} {{object.shopName}} {% else %} {% trans "პროდუქტები" %} {% endif %} {% endblock title %}

{% block content %}

{% if object.image %}
  <div class="container">
    <div class="row row-seller">
      <div class="col-md-9 seller-img">
        {% thumbnail object.image "1200x202" quality=60 as th %}
          <img style="margin: auto;" class="img-responsive" src="{{th.url}}">
        {% endthumbnail %}
      </div>
      <div class="col-md-3 seller-desc">
        <p>{{object.shopDesc}}</p>
      </div>
    </div>
  </div>
{% else %}
  <section class="page-top-md" style="background: url();background:#1abc9c;">
{% endif %}
  <div class="container">
    <div class="page-top-in">
      <h2>
        <span>
          {% if page_head and not object.image %}
            {{page_head}}
          {% elif not object.image and not page_head %}
            {% trans "პროდუქტები" %}
          {% endif %}
        </span>
      </h2>
    </div>
  </div>
</section>

<div class="container">
  <div class="catalog">

    {% for x in object_list|four_count %}
      {% for item in object_list|get_four:x %}
        {% include 'shop/partials/store_product.html' %}
      {% endfor %}
    {% endfor %}
    {% include 'partials/pagination.html' %}

  </div>
</div>

{% endblock content %}