{% extends "base.html" %}
{% load i18n thumbnail %}

{% block head %}
<!--facebook meta tags-->
<meta property="fb:app_id"	      content="176767892819777" />
<meta property="og:url"           content="http://{{request.get_host}}{{request.get_full_path}}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="{{object.name}}" />
<meta property="og:description"   content="{{object.get_sdesc|safe}}" />
<meta property="og:image"         content="http://{{request.get_host}}{{object.first_image.url}}" />

{% endblock head %}

{% block title %}
  {{object.get_sname}}
{% endblock title %}

{% block content %}

  <section class="page-top">
    <div class="container">
      <div class="page-top-in">
        <h2>
          <a href="{{object.get_seller.get_absolute_url}}">
            {{object.get_seller.shopName}}
          </a>
        </h2>
      </div>
    </div>
  </section>

  <div class="container" style="margin-top:20px;">
    <div class="row">
      <div class="col-sm-6">
        <div class="product-preview">
          <div class="flexslider">
            <ul class="slides">
              {% for image in object.image_set.all %}
                {% thumbnail image.image "555x555" crop="center" quality=60 as th %}
                  <li data-thumb="{{th.url}}">
                    <img src="{{th.url}}" alt="">
                  </li>
                {% endthumbnail %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="summary entry-summary">
          <h3>{{object.name}}</h3>
          <div class="reviews-counter clearfix">
            <div class="rating five-stars pull-left">
              <div class="star-rating"></div>
              <div class="star-bg"></div>
            </div>
            <span>{{object.reviews.count}} {% trans "შეფასება" %}</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <i class="fa fa-eye" aria-hidden="true"></i>
            <span>{{object.view}}</span>
          </div>

          <p class="price">
            <span class="amount">{{object.price_range}}</span>
          </p>
          <p>
            <!--FB SHARE BUTTON-->
            <div class="fb-like" data-href="http://{{request.get_host}}{{request.get_full_path}}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            <div class="fb-send" data-href="http://{{request.get_host}}{{request.get_full_path}}"></div>
            <!--/FB SHARE BUTTON-->
          </p>
          <div class="cart">
            <div class="quantity pull-left">
              <div class="list-sort">
                <select data-allow_special="{% if object.get_seller.allow_special %}1{% else %}0{% endif %}" id="optionSelector" class="formDropdown">
                  {% for item in object.get_sto %}
                    <option data-q="{{item.quantity}}" value="{{item.pk}}">{{item.name}} - GEL {{item.get_price}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button id="basketAddBtn" onclick="ajaxable_v2(event)" data-method="addtobasket" data-args="{'bpk': {{user.basket.pk}}, 'opk':OPTION, 'quantity':1}" class="btn btn-primary btn-icon">
              <i class="fa fa-shopping-cart"></i>{% trans "კალათაში დამატება" %}
            </button>
            <button onclick="ajaxable_v2(event)" data-method="upvote" data-args="{'ppk': {{object.pk}}, 'u': '{{user.pk}}'}" class="btn btn-grey">
              <span><i class="fa fa-heart"></i></span>
            </button>
          </div>

          {% if object.keywords.count %}
            <ul class="list-unstyled">
              <li><strong>SKU:</strong> {{object.sku}}</li>
              <li><strong>{% trans "საკვანძო სიტყვები" %}: </strong> 
                {% for kwd in object.keywords.all %}
                  <a href="{{kwd.get_absolute_url}}">{{kwd}},</a> 
                {% endfor %}
              </li>
            </ul>
            <hr>
          {% endif %}
          
          <ul id="m2s" hidden class="list-unstyled product-meta">
            <li>
              <button class="btn btn-xs btn-primary" id="m2sBtn" onclick="get_m2s_url(event)" data-method="m2s" data-args='{"opk":0, "u":{{user.pk}}}'>
                {% trans "მოითხოვე ექსკლუზიურად შენთვის" %}
              </button>
            </li>
          </ul>

          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    {% trans "დამატებითი ინფორმაცია" %}
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  {{object.desc|safe}}
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="panel-title-important" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    {% trans "მნიშვნელოვანი ინფორმაცია" %}
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse out">
                <div class="panel-body">
                  {% blocktrans with delay=object.get_seller.delay %}
                    პროდუქტის ტრანსპორტირებისთვის დასაწყებად საჭიროა {{delay}} საათი, ამიტომ გაითვალისწინეთ
                    არსებული შეყოვნება, რასაც დაემატება მიწოდების სერვისისთვის საჭირო დრო. 
                  {% endblocktrans %}
                  <br><br>
                  <a class="btn btn-xs" href="{% url 'blog:page' page_name='order&delivery' %}">
                    {% trans "გაიგე მეტი ამის შესახებ!" %}
                  </a>
                  <br><br>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    {% trans "შეფასებები" %} ({{object.reviews.count}})
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body post-comments">
                  <ul class="comments">
                    {% for review in object.reviews.all %}
                      <li>
                        <div class="comment">
                          <div class="comment-block">
                            <span class="comment-by"> <strong>{{review.author.name}}</strong></span>
                            <span class="date">
                              <small>
                                <i class="fa fa-clock-o"></i>
                                {{review.created|date:"M-D-Y"}}
                              </small>
                            </span>
                            <p>{{review.content}}</p>
                          </div>
                        </div>
                      </li>
                    {% empty %}
                      <li>
                        {% trans "შეიძინე და იყავი პირველი ვინც შეაფასებს" %}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  {% if seller_related %}
    {% include 'shop/partials/related_products.html' with title=object.get_seller.shopName relateds=seller_related %}
  {% endif %}
  <br><br><br>

  {% comment %}EXPORT TO PARTIAL ?{% endcomment %}
  <div class="container">
    <h2 class="title"><span>{% trans "მსგავსი" %}</span></h2>
    <div class="row">
        {% for item in related %}
          <div class="col-sm-3 col-xs-6 col-centered">
            <div class="item product">
              <div class="product-thumb-info">
                <div class="product-thumb-info-image">
                  <span class="product-thumb-info-act">
                    <a href="{{item.get_absolute_url}}">
                        <span><i class="fa fa-external-link"></i></span>
                    </a>
                    <a onclick="ajaxable_v2(event)" data-method="upvote" data-args="{'ppk': {{item.pk}}, 'u': '{{user.pk}}'}" class="add-to-cart-product">
                        <span><i class="fa fa-heart"></i></span>
                    </a>
                  </span>
                  <div>
                    {% thumbnail item.first_image "263x263" crop="center" quality=60 as th %}
                        <img style="margin:auto;" alt="" class="img-responsive" src="{{th.url}}">
                    {% endthumbnail %}
                  </div>
                </div>

                <div class="product-thumb-info-content">
                  <span class="price pull-right">{{item.price_range}}</span>
                  <h4><a href="{{item.get_absolute_url}}">{{item.get_sname}}</a></h4>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </row>
  </div>

{% endblock content %}

{% block scripts %}
  <script>
    var lastOption = ""

    $(document).ready(function(){
      // initiator for add to basket button
      var args = $("#basketAddBtn").attr("data-args").toString();
      var selOption = $("#optionSelector").find(":selected").val();
      lastOption = "'opk':" + selOption;
      args = args.replace("'opk':OPTION", lastOption);
      $("#basketAddBtn").attr("data-args", args);

      // trigger updater for m2s update
      $("#optionSelector").trigger("change");
    });

    $("#optionSelector").on("change", function(){
      // updater for add to basket button
      var newOption = "'opk':" + $("#optionSelector").find(":selected").val();
      var allowSpecial = $("#optionSelector").attr("data-allow_special");
      var args = $("#basketAddBtn").attr("data-args");
      args = args.replace(lastOption, newOption);
      lastOption = newOption;
      $("#basketAddBtn").attr("data-args", args);
      // updater for message to seller
      q = $("#optionSelector").find(":selected").attr("data-q");
      if (q=='0' && allowSpecial == "1"){
        set_arg("#m2sBtn", "opk", $("#optionSelector").find(":selected").val());
        $("#m2s").css("display", "block");
      } else {
        $("#m2s").css("display", "none");
      }
    });

    function get_m2s_url(event){
      ajaxable_v2(event, function(result, target){
        var win = window.open(result);
        if (win) {win.focus();}
      });
    }
  </script>
{% endblock %}
