{% extends "base.html" %}
{% load i18n static thumbnail %}

{% block title %} {{query}} {% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <br><br>
        <div class="catalog">

            <form id="search_form" method="GET" action=".">
                <div class="toolbar clearfix">
                    <input hidden value="{{query}}" name="query">
                    <ul class="list-inline list-icons pull-left">
                        <li>{% trans "საძიებო სიტყვა" %}:</li>
                        <li><strong>{{query}}</strong></li>
                    </ul>
                    <!-- Ordering -->
                    <div class="list-sort pull-right">
                        <!--make this autopopulateable-->
                        <select onchange="$('#search_form').submit();" name="ordering" class="formDropdown">
                            <option {% if ordering == "-pk" %}selected{% endif %} value="-pk">{% trans "უახლესი" %}</option>
                            <option {% if ordering == "-views"%}selected{% endif %} value="-views">{% trans "პოპულარული" %}</option>
                        </select>
                    </div>
                </div>
            </form>

            {% for object in object_list %}
                <div class="product product-list animation">
                    <div class="product-thumb-info">
                        <div class="row">
                            <div class="col-xs-5 col-sm-3">
                                <div class="product-thumb-info-image">
                                    {% thumbnail object.first_image "380x260" crop="center" quality=60 as th %}
                                        <img alt="" class="img-responsive" src="{{th.url}}">
                                    {% endthumbnail %}
                                </div>
                            </div>	
                            <div class="col-xs-7 col-sm-9">
                                <div class="product-thumb-info-content">
                                    <h4><a href="{{object.get_absolute_url}}">{{object.name}}</a></h4>
                                    <div class="reviews-counter clearfix">
                                        <div class="rating five-stars pull-left">
                                            <div class="star-rating"></div>
                                            <div class="star-bg"></div>
                                        </div>
                                        <span>{{object.reviews.count}} {% trans "შეფასება" %}</span>
                                        {#<a href="#">{% trans "შეაფასე შენც!" %}</a>#}
                                    </div>
                                    <p class="price">{{object.get_price}}</p>
                                    <p>{{object.desc|safe}}</p>
                                    <p class="btn-group">
                                        <button onclick="window.location.href='{{object.get_absolute_url}}'" class="btn btn-sm btn-icon">
                                            <i class="fa fa-shopping-cart"></i> {{object.productoption_set.count}} {% trans "ვარიანტი" %}
                                        </button>
                                        <a onclick="ajaxable_v2(event)" data-method="upvote" data-args="{'ppk': {{object.pk}}, 'u': {{request.user.pk}}}">
                                            <span><i class="fa fa-heart-o"></i></span>
                                        </a>
                                    </p>
                                </div>
                            </div>	
                        </div>	
                    </div>
                </div>
            {% endfor %}
            
            {% include 'partials/pagination.html' %}

            {#{% include 'partials/quickview.html' %}#}
        </div>
    </div>
</div>

{% endblock content %}