{% extends "base.html" %}
{% load i18n static thumbnail product %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/timeline.css' %}">

    <!--facebook meta tags-->
    <meta property="fb:app_id"	      content="176767892819777" />
    <meta property="og:url"           content="http://{{request.get_host}}{{request.get_full_path}}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{object.name}}" />
    <meta property="og:description"   content="{{object.shopDesc|safe}}" />
    {% if object.collage_image %}
    	{% thumbnail object.collage_image "500x500" crop="center" as th %}
                <meta property="og:image"         content="http://{{request.get_host}}{{object.collage_image.url}}" />
        {% endthumbnail %}
    {% else %}
        <meta property="og:image"         content="http://{{request.get_host}}{{object.image.url}}" />
    {% endif %}

{% endblock %}

{% block title %} {% if object %} {{object.shopName}} {% else %} {% trans "პროდუქტები" %} {% endif %} {% endblock title %}

{% block content %}


<div class="container">
    <div class="page-header">
        <h1 id="timeline">{{object.shopName}}</h1>
        {% thumbnail object.image "1200x202" quality=60 as th %}
          <img style="margin: auto;" class="img-responsive" src="{{th.url}}">
        {% endthumbnail %}
        <br>
        <p class="timeline-seller-desc">{{object.shopDesc}}</p>
        <!--FB SHARE BUTTON-->
        <div class="fb-like" data-href="http://{{request.get_host}}{{request.get_full_path}}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        <div class="fb-send" data-href="http://{{request.get_host}}{{request.get_full_path}}"></div>
        <!--/FB SHARE BUTTON-->
    </div>
    <ul class="timeline">
        {% for item in object_list %}
            <li class="{% if forloop.counter|divisibleby:2 == 0 %}timeline-inverted{% endif %} animation">
                    <a class="timeline-badge" href="{{item.get_absolute_url}}">
                <div class="timeline-badge">
                        <span><i class="fa fa-shopping-cart"></i></span>
                </div>
                    </a>    
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">{{item.name}}</h4>
                    </div>
                    <div class="timeline-body">
                        {% thumbnail item.first_image "478x395" crop="center" quality=60 as th %}
                            <img alt="" class="img-responsive" src="{{th.url}}">
                        {% endthumbnail %}
                    </div>
                    <br>
                    <p><i class="fa fa-credit-card" aria-hidden="true"></i><strong class="timeline-price"> {{item.price_average}}</strong></small></p>
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{item.created}}</small>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% include 'partials/pagination.html' %}
</div>


{% endblock content %}
