{% load i18n static thumbnail %}

<div class="{{classes}}">
  <figure class="snip1091">
    {% thumbnail object.first_image "600x360" crop="center" as th %}
      <img src="{{th.url}}" alt="image"/>
    {% endthumbnail %}
    <figcaption>
      <h2>{{object.get_sname}}</h2>
    </figcaption>
    <a href="{{object.get_absolute_url}}"></a>
  </figure>
</div>
