{% load i18n thumbnail static %}

<div class="col-product">
  <a href="{{item.get_absolute_url}}">
    {% thumbnail item.first_image "300x200" crop="center" as th %}
      <img class="img-responsive img-product" src="{{th.url}}">
    {% endthumbnail %}
  </a>
  <div class="title">
    <a href="{{item.get_absolute_url}}">
      {{item.get_sname}}
    </a>
  </div>
  <div class="content">
    {{item.desc|safe}}
  </div>
  <a href="{% url 'selling:page' token=item.get_seller.account.token %}" class="action left">
    <i class="fa fa-user" aria-hidden="true"></i>
  </a>
  <a class="action right">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  </a>
</div>
