{% extends "base.html" %}
{% load i18n static thumbnail %}

{% block title %}
  {{object.title}}
{% endblock %}

{% block content %}

  <div class="row row-petite">

    <div class="page-header">
      <h4>{{object.name}}</h4>
      <h6>
        {% with seller=object.get_seller %}
          <a href="{% url 'selling:page' token=seller.account.token %}" class="blink">
            {{seller.shopName}}
          </a>
        {% endwith %}
      </h6>
    </div>

    <div class="col-sm-8">
      {% thumbnail object.first_image '400x400' crop="center" as th %}
        <img id="main-holder" src="{{th.url}}" class="img-responsive img-product">
      {% endthumbnail %}

      <div style="margin-top: 5px;text-align:center;">
        {% for image in object.image_set.all %}
          {% thumbnail image.image "400x400" crop="center" as th %}
            <img class="img-responsive img-prod-detail" onmouseover="update_image(this)"
              src="{{th.url}}">
          {% endthumbnail %}
        {% endfor %}
      </div>
    </div>

    <div class="col-sm-4">
      {{object.desc|safe}}
      {% if user.is_authenticated %}
        <button class="btn btn-default btn-like" id="upvote" args="{'ppk': {{object.pk}}, 'u': '{{user.pk}}'}" >
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          {% trans "მომწონს" %}
          <span id="votes" class="badge">{{object.rank}}</span>
        </button>
      {% else %}
        <a class="btn btn-default btn-like" href="{% url 'auth:signin' %}?next={{request.path}}">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          {% trans "მომწონს" %}
          <span id="votes" class="badge">{{object.rank}}</span>
        </a>
      {% endif %}
    </div>
  </div>

  <div class="row row-petite">
    <div class="page-header">
      <h4>{% trans "ვარიანტები" %}</h4>
    </div>
    <div class="btn-group">
      {% for option in object.productoption_set.all %}
        {% if user.is_authenticated %}
          <a class="btn btn-default btn-basket" onclick="addtobasket_ajaxable()" args="{'bpk': {{user.basket.pk}}, 'opk': {{option.pk}}, 'quantity':1}">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            <span style="margin-left: 5px;"></span>
            {{option.get_sname}} GEL{{option.get_price}}
          </a>
        {% else %}
          <a class="btn btn-default btn-basket" href="{% url 'auth:signin' %}?next={{request.path}}">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            {{option.get_sname}} GEL{{option.get_price}}
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="row row-petite">

  {# SIMILAR PRODUCTS BLOCK #}
    <div class="page-header">
      <h4>{% trans "შეიძლება ასევე მოგეწონოს" %}</h4>
    </div>

    {% for object in relatives %}
      {% include 'shop/related_product_item.html' %}
    {% endfor %}
  </div>

  <div class="row row-petite">
  {# COMMENTS #}
    <div class="page-header">
      <h4>{% trans "დატოვე კომენტარი" %}</h4>
    </div>
    {% include 'partials/comments.html' %}
  </div>

{% endblock %}

{% block scripts %}

  <script>
    var lastElem = null;
    function update_image(element){
      $("#main-holder").attr("src", $(element).attr("src"));
      $(element).addClass("active");
      $(lastElem).removeClass("active");
      lastElem = element;
    }

    //AJAXABLE TEST CODE
    $("#upvote").on("click", function(event){
      ajaxable("upvote", event, function(result){
        $("#votes").text(result);
      });
    });

    function addtobasket_ajaxable(){
      ajaxable("addtobasket", event, function(result){
        show_message(result);
      });
    }

    $("#shortcut").on("click", function(event){
      ajaxable("shortcut", event, function(result){
        slink = window.location.host + result;
      });
    });
    // END OF THE TEST CODE
  </script>
{% endblock %}
