{% extends "base.html" %}
{% load i18n static thumbnail %}

{% block title %}
  {% trans "Store" %}
{% endblock %}

{% block content %}

{% if searchable %}
  {% include 'partials/search.html' %}
{% endif %}

{% if sellable %}
  {% include 'selling/partials/seller.html' %}
{% endif %}

<div class="row">
  {% for object in object_list %}
    {% include 'shop/mp_product_item.html' %}
  {% endfor %}
</div>

{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){
    cols = ['red', 'green', 'navy', 'blue']
    $.each($("figure"), function(i, element){
      cname = cols[Math.floor(Math.random()*cols.length)];
      $(element).addClass(cname);
    });
  });

  $("figure").mouseleave(function() {
      $(this).removeClass("hover");
    });
</script>
{% endblock %}
