{% load i18n static thumbnail %}

<div class="col-sm-6 col-xs-6">
  <figure class="snip1091">
    {% thumbnail object.first_image "390x300" crop="0%" as th %}
      <img src="{{th.url}}" alt="image" class="img-responsive"/>
    {% endthumbnail %}
    <figcaption>
      <h4>{{object.get_sname}}</h4>
    </figcaption>
    <a href="{{object.get_absolute_url}}"></a>
  </figure>
</div>
