{% extends "base.html" %}
{% load i18n thumbnail %}

{% block head %}
<!--facebook meta tags-->
<meta property="fb:app_id"	      content="176767892819777" />
<meta property="og:url"           content="http://{{request.get_host}}{{request.get_full_path}}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="{{object.name}}" />
<meta property="og:description"   content="{{object.get_content|striptags|truncatewords_html:20}}" />
{% if object.image %}
<meta property="og:image"         content="http://{{request.get_host}}{{object.image.url}}" />
{% else %}
<meta property="og:image"         content="http://{{request.get_host}}/static/images/logo3x.jpg" />
{% endif %}

{% endblock head %}

{% block title %} {{object}} {% endblock title %}

{% block content %}

<div class="page-top-lg">
  <div class="container">
    <div class="page-top-in">
      <h2><span>{{object.get_title}}</span></h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="blog-posts single-post">
        <article class="post post-large blog-single-post">
          <h3>{{object.get_title}}</h3>
          <div class="post-meta">
            <span><a href="{% url 'blog:list' %}">{% trans "handx" %}</a></span>
            <span><i class="fa fa-clock-o"></i>{{object.created|date}}</span>
            <span><i class="fa fa-comment-o"></i> <a href="#">0 {% trans "კომენტარი" %}</a></span>
          </div>

          {% if object.image %}
          <div class="post-image single">
            {% thumbnail object.image "850x420" crop="center" quality=60 as th%}
            <img class="img-responsive" src="{{th.url}}" alt="Blog">
            {% endthumbnail %}
          </div>
          {% endif %}
          <p>
            <!--FB SHARE BUTTON-->
            <div class="fb-like" data-href="http://{{request.get_host}}{{request.get_full_path}}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            <div class="fb-send" data-href="http://{{request.get_host}}{{request.get_full_path}}"></div>
            <!--/FB SHARE BUTTON-->
          </p>
          
          <div class="post-content"><br>
            {{object.get_content|safe}}
          </div>
        </article>
      </div>
    </div>
    {% comment %}
    <div class="col-md-3">
      {% include 'partials/observable.html' %}
    </div>
    {% endcomment %}
  </div>
</div>

{% endblock content %}
