{% extends "base.html" %}
{% load i18n %}

{% block title %} {{object}} {% endblock title %}

{% block content %}

<div class="page-top-lg">
  <div class="container">
    <div class="page-top-in">
      <h2><span>{% trans "ბლოგი" %}</span></h2>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="blog-posts">
            <div class="blog-masonry">

                {% for object in object_list %}
                    {% include 'blog/partials/post.html' %}
                {% endfor %}
            
            </div>
        </div>
    </div>
</div>

{% endblock %}