{% load static compress %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
	<meta name="keywords" content="HTML5 Template" />
	<!--<meta name="description" content="handx - online handmade shopping platform from DeepFlow LLC">-->
	<meta name="author" content="DeepFlow LLC">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- favicon link -->
	<link rel="icon" href="{% static 'images/favicon.jpg' %}">

	{% block head %} {% endblock head %}

  <title>
		{% block title %}{% endblock title %} {% if user.is_authenticated and user.unseen_message_count %} ({{user.unseen_message_count}}) {% endif %}
	</title>

	{% compress css %}
  <!-- Google Fonts -->
	<link href="{% static 'css/fonts/google-fonts.css' %}" rel='stylesheet' type='text/css'>

  <!-- Bootstrap -->
	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- Icon Fonts -->
	<link href="{% static 'css/fonts/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

	<!-- Owl Carousel Assets -->
	<!-- MAKE THIS ASSETS AS ONE -->
	<link href="{% static 'vendor/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
	<link href="{% static 'vendor/owl-carousel/owl.theme.css' %}" rel="stylesheet">
	<link href="{% static 'vendor/owl-carousel/owl.transitions.css' %}" rel="stylesheet">

	<!-- bxslider -->
	<link href="{% static 'vendor/bxslider/jquery.bxslider.css' %}" rel="stylesheet">
	<!-- flexslider -->
	<link rel="stylesheet" href="{% static 'vendor/flexslider/flexslider.css' %}" media="screen">

	<!-- Theme -->
	<link href="{% static 'css/theme-animate.css' %}" rel="stylesheet">
	<link href="{% static 'css/theme-elements.css' %}" rel="stylesheet">
	<link href="{% static 'css/theme-blog.css' %}" rel="stylesheet">
	<link href="{% static 'css/theme-shop.css' %}" rel="stylesheet">
	<link href="{% static 'css/theme.css' %}" rel="stylesheet">

	<!-- Style Switcher-->
	{# <link href="{% static 'css/colors/green/style.css' %}" rel="stylesheet" id="layoutstyle">#}
	
	<!-- Theme Responsive-->
	<link href="{% static 'css/theme-responsive.css' %}" rel="stylesheet">
	
	{% endcompress %}
	
	{% compress js %}
	<script src="{% static 'vendor/jquery.min.js' %}"></script>
	<!--AJAXABLE BETA-->
	<script async defer src="{% static 'js/ajaxable.js' %}"></script>
	<!-- Product fast view BETA -->
	<script async defer src="{% static 'js/quickview.js' %}"></script>
	{% endcompress %}
</head>

<body>
	<!--FACEBOOK SHARE-->
  <div id="fb-root"></div>
  <script async defer>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ka_GE/sdk.js#xfbml=1&version=v2.8&appId=176767892819777";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <!--/FACEBOOK SHARE-->
  <style>
    .text-nice{
      font-size: 13px !important;
    }
  </style>

  <div id="page">
    {% include 'partials/header.html' %}

    <div class="main" role="main">
      {% block content %}

      {% endblock content %}
    </div>
		
    {% include 'partials/footer.html' %}
  </div>

  {# SEARCH MODAL #}
  {% include 'partials/search_modal.html' %}

	{# AJAXABLE MODAL #}
	{% include 'partials/ajaxable_modal.html' %}

	{# QUICKVIEW MODAL #}
	{% include 'partials/quickview_modal.html' %}

	{% compress js %}
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script defer src="{% static 'bootstrap/js/bootstrap-hover-dropdown.min.js' %}"></script>
	<script src="{% static 'vendor/owl-carousel/owl.carousel.js' %}"></script>
	<script src="{% static 'vendor/modernizr.custom.js' %}"></script>
	<script src="{% static 'vendor/jquery.stellar.js' %}"></script>
	<script src="{% static 'vendor/imagesloaded.pkgd.min.js' %}"></script>
	<script src="{% static 'vendor/masonry.pkgd.min.js' %}"></script>
	<script src="{% static 'vendor/jquery.pricefilter.js' %}"></script>
	<script src="{% static 'vendor/bxslider/jquery.bxslider.min.js' %}"></script>
	<script defer src="{% static 'vendor/mediaelement-and-player.js' %}"></script>
	<script src="{% static 'vendor/waypoints.min.js' %}"></script>
	<script src="{% static 'vendor/flexslider/jquery.flexslider-min.js' %}"></script>

	<!-- Theme Initializer -->
	<script src="{% static 'js/theme.plugins.js' %}"></script>
	<script src="{% static 'js/theme.js' %}"></script>
	<script src="{% static 'js/languages.js' %}"></script>

	<!-- AUTHENTICATION MODAL RELATED -->
	<script src="{% static 'js/authentication.js' %}"></script>
	<script src="{% static 'js/mask.min.js' %}"></script>

	{% endcompress %}

	<script async defer>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-90704321-1', 'auto');
		ga('send', 'pageview');
	</script>

	{% block scripts %}

	{% endblock %}
</body>

</html>
