{% extends "base.html" %}
{% load i18n %}
{% block title %} handX {% endblock %}

{% comment %}template receives - error_code(str), show_search(bool), message(str){% endcomment %}

{% block content %}

    <div class="page-404">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p class="ico-emotion"><i class="fa fa-frown-o"></i></p>
                    <h2>{{error_code}}</h2>
                    <p>{{message}}</p>
                    {% if show_search %}
                    <form method="GET" action="{% url 'shop:search' %}" class="form-inline form-search form-search2" class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="textsearch">{% trans "შეიყვანე საძიებო ტექსტი" %}</label>
                            <input name="query" type="text" class="form-control input-lg" id="textsearch" placeholder="{% trans 'საძიებო ტექსტი' %}">
                        </div>
                        <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                    </form>
                    {% endif %}
                    <p>
                        <a href="{% url 'landing' %}" class="btn btn-primary btn-lg">{% trans "მთავარ გვერდზე დაბრუნება" %}</a>
                        {% if not show_search %}
                            <a href="{% url 'blog:page' page_name='contactus' %}" class="btn btn-lg">{% trans "როგორ დაგიკავშირდეთ?" %}</a>
                        {% endif %}    
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}