{% extends "base.html" %}

{% load i18n %}

{% block head %}
<!--facebook meta tags-->
<meta property="fb:app_id"	      content="176767892819777" />
<meta property="og:url"           content="http://{{request.get_host}}{{request.get_full_path}}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="handX" />
<meta property="og:description"   content="handx - {% trans 'ხელნაკეთი ნივთების ონლაინ მაღაზია' %}" />
<meta property="og:image"         content="http://handx.org/static/images/logo3x.jpg" />

{% endblock head %}

{% block title %} handX {% endblock %}

{% block content %}

  <!--1 - Main Page Slider - vname: slider-->
  {% include 'partials/mp_slider.html' %}

  <!--2 - OUR BRANDS - vname: brands -->
  {% include 'partials/brands.html' %}

  <!--3 - FEATURED PRODUCTS - vname: featured-->
  {% include 'partials/featured.html' %}

  <!--4 - LATEST POSTS - vname: posts-->
  {% include 'partials/latest_posts.html' %}

  <!--5 - POPULAR PRODUCTS - vname: popular-->
  {% include 'shop/partials/mp_product_slider.html' %}

  <!--6 - PARALAX - vname: None-->
  {% include 'partials/parallax.html' %}

  <!--7 - 3COL LISTING - vname: latest_3c, limited_3c, random_3c-->
  <!-- INCLUDING FAST INFOS -->
  {% include 'shop/partials/mp_thumb_list.html' %}

{% endblock %}
