{% load i18n thumbnail %}

<div class="col-md-12">
  <div class="featured-box featured-box-cart">
    <div class="box-content">
      <form method="post" action="">
        <table cellspacing="0" class="shop_table" width="100%">
          <thead>
            <tr>
              <th class="product-name">
                {% trans "პროდუქტი-ვარიანტი" %}
              </th>
              <th class="product-price">
                {% trans "ფასი (ერთ.)" %}
              </th>
              <th class="product-quantity">
                {% trans "რაოდენობა" %}
              </th>
              <th class="product-subtotal">
                {% trans "სრული ფასი" %}
              </th>
              <th class="product-remove">
                &nbsp;
              </th>
            </tr>
          </thead>
          <tbody>
            {% for line in request.user.basket.lines.all %}
              <tr class="cart_table_item">
                <td class="product-name">
                  <div class="row">
                    <div class="col-md-4">
                      <a href="{{line.option.get_absolute_url}}">
                        {% thumbnail line.option.product.first_image "100x100" crop="center" quality=60 as th%}
                          <img src="{{th.url}}" class="img-responsive">
                        {% endthumbnail %}
                      </a>
                    </div>
                    <div class="col-md-8">
                      <a href="{{line.option.get_absolute_url}}" style="display: flex;justify-content: center;align-items: center;height: 100px;">
                        {{line.option}}
                        {% if line.option.is_special %}
                          &nbsp;({% trans "სპეციალური" %})
                        {% endif %}
                      </a>
                    </div>
                  </div>
                </td>
                <td class="product-price">
                  <span class="amount">GEL {{line.option.get_price}}</span>
                </td>
                <td class="product-quantity">
                    <div class="quantity">
                      <input type="button" class="minus" value="-" onclick="updateQ({{line.pk}}, false)">
                      <input readonly type="text" class="input-text qty text" title="{% trans 'რაოდენობა' %}" 
                        value="{{line.quantity}}" name="quantity" min="1" step="1" data-method="updateQ" max="{{line.option.quantity}}"
                        data-args="{'bpk':{{user.basket.pk}}, 'opk':{{line.option.pk}}, 'newQ':{{line.quantity}}}" id="quant{{line.pk}}">
                      <input type="button" class="plus" value="+" onclick="updateQ({{line.pk}}, true)">
                    </div>
                </td>
                <td class="product-subtotal">
                  <span class="amount" id="line_total_price{{line.pk}}">GEL {{line.get_price}}</span>
                </td>
                <td class="product-remove">
                  <a title="Remove this item" class="remove" href="{% url 'basket:rm' opk=line.option.pk %}">
                    <i class="fa fa-times-circle"></i>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>