{% load i18n %}

<div class="col-md-12 animation">
  <div class="featured-box featured-box-secondary sidebar" style="margin-top: 42px;">
    <div class="box-content">
      <h4>{% trans "კალათის ღირებულება" %}</h4>
      <table cellspacing="0" class="cart-totals" width="100%">
        <tbody>

          {% comment %}
          <tr class="shipping">
            <th>
              {% trans "მიტანის სერვისი (სტანდარტული)" %}
            </th>
            <td>
              <span class="amount"><strong>GEL {{request.user.basket.get_delivery_price}}</strong>
            </td>
          </tr>
          {% endcomment %}
          
          <tr class="cart-subtotal">
            <th>
              {% trans "ჯამური ფასი" %}
            </th>
            <td class="product-price">
              <span id="basket_total" class="amount">GEL {{request.user.basket.get_total}}</span>
            </td>
          </tr>

        </tbody>
      </table>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <a target="_blank" href="{% url 'shop:list' %}" class="text-nice btn btn-grey btn-block">
            {% trans 'მაღაზია' %}
          </a>
        </div>
        <div class="col-md-6 col-sm-6">
          <a class="text-nice btn btn-primary btn-block" href="{% url 'checkout:address_add' %}">
            {% trans 'ყიდვის დაწყება' %}
          </a>
        </div>
    </div>
  </div>
</div>
