{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% trans "პაროლის შეცვლა" %}
{% endblock %}

{% block content %}
  <div class="row-petite row-centered">
    <div class="page-header">
      <h3>{% trans "პაროლის შეცვლა" %}</h3>
    </div>
    <form action="." method="POST">
      {% csrf_token %}
      {% if step == 'sm' %}
        <input name="email" class="form-control" type="email" placeholder="{% trans 'თქვენი ელ.ფოსტა' %}">
      {% elif step == 'rp' %}
        <input name='password' type="password" placeholder="{% trans 'ახალი პაროლი' %}" class="form-control">
      {% endif %}
      <br>
      <button class="btn btn-default">
        {% trans "გაგრძელება" %}
      </button>
    </form>
  </div>

{% endblock %}
