{% extends "base.html" %}
{% load i18n static thumbnail %}

{% block title %}
  {% trans "პროფილი" %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="page-header">
    <h4>{% trans "გამარჯობა" %} {{object.get_fname}}</h4>
  </div>

  <div class="row-petite row-center">
    <form action="." method="POST">
      {% csrf_token %}
      <p><strong>{% trans "ელ.ფოსტა" %}:</strong> {{object.email}}</p><br>
      <p>
        <strong>{% trans "პაროლი" %}:</strong>
        <a href="{% url 'auth:password' %}">{% trans "პაროლის შეცვლა" %}</a>
      </p><br>
      {{updateForm.as_p}}
      <a href="{% url 'auth:signout' %}" class="btn btn-danger">
        {% trans "ვებ გვერდიდან გასვლა" %}
      </a>
      <button class="btn btn-success">
        {% trans "ინფორმაციის განახლება" %}
      </button>
    </form>
  </div>

</div>
{# END OF PROFILE INFORMATION #}

<div class="row">
  <div class="page-header">
    <h4>{% trans "კალათა" %}</h4>
  </div>


  {% if user.basket.lines.count %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr style="font-weight:bold;">
          <td>{% trans "პროდუქტი" %}</td>
          <td>{% trans "ვარიანტი" %}</td>
          <td>{% trans "ფასი (ერთ.)" %}</td>
          <td>{% trans "რაოდენობა" %}</td>
          <td>{% trans "წაშლა" %}</td>
        </tr>
      </thead>
      <tbody>
        {% for line in user.basket.lines.all %}
        <tr>
          <td>{{line.option.product.get_sname}}</td>
          <td>{{line.option.get_sname}}</td>
          <td>GEL{{line.option.get_price}}</td>
          <td>
            <input type="number" onclick='updateQ(this, event)' class="form-control control-min" value={{line.quantity}}
              min="0", args="{'bpk':{{user.basket.pk}}, 'opk':{{line.option.pk}}, 'newQ':NQ}">
          </td>
          <td>
            <button class="btn btn-default" onclick="ajaxable('rmfrombasket', event, callback)"
              args="{'bpk':{{user.basket.pk}}, 'opk':{{line.option.pk}}}">
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}

</div><br>

<div class="row">
  {% if user.basket.lines.count %}
    <a id="contShopping" href="{% url 'checkout:add' %}" class="btn btn-success">
      {% trans "ყიდვის დაწყება" %}
    </a>
  {% else %}
    <a class="btn btn-success" href="{% url 'shop:main' %}">
      {% trans "შეიძინე ნივთები" %}
    </a>
  {% endif %}
</div>

{% if user.order_set.count > 0 %}
<div class="row">
  <div class="page-header">
    <h4 id="orders">{% trans "ჩემი შეკვეთები" %}</h4>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr style="font-weight:bold;">
          <td>{% trans "პროდუქტი" %}</td>
          <td>{% trans "ვარიანტი" %}</td>
          <td>{% trans "რაოდენობა" %}</td>
          <td>{% trans "სრული ფასი" %}</td>
          <td>{% trans "სტატუსი" %}</td>
        </tr>
      </thead>
      <tbody>
        {% for order in user.order_set.all %}
        <tr>
          <td>{{order.line.option.product.get_sname}}</td>
          <td>{{order.line.option.get_sname}}</td>
          <td>{{order.line.quantity}}</td>
          <td>GEL{{order.get_price}}</td>
          <td class="ostatus{{order.status}}">{{order.get_status_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
  function callback(result, target){
    show_message(result);
    $(target).parent().parent().css("display", "none");
    if ("{{user.basket.lines.count}}" == "1")
      $("#contShopping").css("display", "none");
  }
</script>
{% endblock %}
