{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% trans "ავტორიზაცია" %}
{% endblock %}

{% block content %}

  <div class="row row-form">
    <div class="page-header">
      <h4>{% trans "ავტორიზაცია" %}</h4>
    </div>

    <form action="{% if next %}?{{next}}{% else %}.{% endif %}" method="post">
      {% csrf_token %}
      <input placeholder="{% trans 'ელ.ფოსტა' %}" class="form-control" name='email' type='email'>
      <br>
      <input placeholder="{% trans 'პაროლი' %}" class="form-control" name='password' type='password'>
      <br>
      <a href="{% url 'auth:password' %}">
        {% trans "პაროლის აღდგენა" %}
      </a>
      <br><br>
      <button id="submit" class="btn btn-success">
        {% trans "ავტორიზაცია" %}
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </button>
      <a href="{% url 'auth:signup' %}" class="pull-right btn btn-warning">
        {% trans "რეგისტრაცია" %}
        <i class="fa fa-user" aria-hidden="true"></i>
      </a>
    </form>
  </div>

{% endblock %}
