{% extends "base.html" %}
{% load i18n thumbnail static %}

{% block title %} {% trans "დაიწყე გაყიდვა" %} {% endblock %}

{% block content %}

<section class="page-top-md">
  <div class="container">
    <div class="page-top-in">
      <h2><span>{% trans "აღმოაჩინე შესაძლებლობები" %}</span></h2>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-centered animation">
      <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-primary" value="{% trans 'რეგისტრაცია' %}">
      </form>
    </div>
  </div>
  <div class="spacer-horizontal"></div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/mask.min.js' %}"></script>
<script>
  $(document).ready(function(){
    $("#id_phone").mask("999-999-999");
  });
</script>
{% endblock %}