{% extends "base.html" %}
{% load i18n thumbnail %}

{% block title %} {% trans "აღმოაჩინე" %} {% endblock %}

{% block content %}

<section class="page-top-md">
  <div class="container">
    <div class="page-top-in">
      <h2><span>{% trans "აღმოაჩინე" %}</span></h2>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">

    {% for object in object_list %}
      <div class="col-xs-6 animation">
        <div class="cat-item">
          <figure>
            <a href="{{object.get_absolute_url}}">
              {% thumbnail object.image "700x300" crop="center" quality=60 as th %}
                <img class="img-responsive" alt="" src="{{th.url}}">
              {% endthumbnail %}
            </a>
            <figcaption>
              <div class="cat-description">
                <h3>{{object.shopName}}</h3>
                <a href="{{object.get_absolute_url}}">
                  <i style="font-size:16px;" class="fa fa-gift" aria-hidden="true"></i>
                  {{object.get_item_count}} {% trans "პროდუქტი" %}
                </a>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
    {% endfor %}


  </div>
  <div class="spacer-horizontal"></div>
</div>

{% endblock %}
