{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="online shopping platform">
    <meta name="author" content="DeepFlow">

    <title>{% block title %} {% endblock %}</title>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'fonts/fontawesome-webfont.woff' %}" rel="stylesheet">

    <link href="{% static 'css/custom_diy.css' %}" rel="stylesheet">
    <link href="{% static 'css/img_hover.css' %}" rel="stylesheet">
    <script src="{% static 'js/ajaxable.js' %}"></script>

    {% block head %}

    {% endblock %}
</head>

<body>
  <style>
    body{
      margin-top: 90px;
    }
  </style>

  {% include 'partials/navigation.html' %}
  {% include 'partials/messages.html' %}

  <div class="container">
    {% block content %}

    {% endblock %}
    <div class="footer-spacer">

    </div>
  </div>

  <br><br><br><br><br>
  {% include 'partials/footer.html' %}

  {% block scripts %}

  {% endblock %}
</body>

</html>
