{% extends "base.html" %}
{% load i18n %}

{% block title %} {{title}} {% endblock title %}

{% block content %}
  <div class="row row-form">
    <div class="page-header">
      <h4>{{formTitle}}</h4>
    </div>

    <form action="{{formUrl}}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.media}}
      {# RENDER MESSAGES #}
      {% for message in messages %}
        <div class="{{message.tags}}">{{message}}</div>
      {% endfor %}

      {% if include == True %}
        {% include includeTemplate %}
      {% endif %}

      {# RENDER ERRORS #}
      {% for error in forms.errors %}
        {{error}}
      {% endfor %}

      {# RENDER FORM #}
      {{form.as_p}}

      {% if backnav %}
        <a href="{{navAction}}" type="submit" class="btn btn-default">
          <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
          {{navText}}
        </a>
      {% endif %}

      <button type="submit" class="btn btn-success">
        {{formText}}
        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
      </button>

    </form>
  </div>
{% endblock content %}
