{% extends "base.html" %}
{% load i18n thumbnail static %}

{% block title %}
  {% trans "handX" %}
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
{% endblock head %}

{% block content %}

  {% for item in incoming1 %}
    <div class="col-md-4 col-sm-6 col-xs-6">
      {% include 'shop/product_item_v1.html' %}
    </div>
  {% endfor %}

{% endblock %}


{% block scripts %}
{% comment %}
<script>
  $(document).ready(function(){
    cols = ['red', 'green', 'navy', 'blue']
    $.each($("figure"), function(i, element){
      cname = cols[Math.floor(Math.random()*cols.length)];
      $(element).addClass(cname);
    });
  });

  $("figure").mouseleave(function() {
      $(this).removeClass("hover");
    });
</script>
{% endcomment %}
{% endblock  %}
