{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% trans "წარმატებული გადახდა" %}
{% endblock %}

{% block content %}

  <div class="row">
    <div class="page-header">
      <h3>{% trans "ოპერაციის შეფერხება" %}</h3>
    </div>

    <p>
      {% blocktrans %}
        სამწუხაროდ, თქვენი შეკვეთის განხორციელება ვერ ხერხდება, რადგან გადახდა
        ვერ მოხერხდა/არ დასტურდება. ოპერაცია დაფიქსირებულია და გადაგზავნილია
        ვებ გვერდის მენეჯერთან, გთხოვთ შეამოწმოთ ელ.ფოსტა შემდეგი ინსტრუქციების
        მისაღებად
      {% endblocktrans %}
    </p>

    <div class="pull-right">
      <p class="comment">
        {% blocktrans %}
          მადლობას გიხდით თქვენი შეკვეთის მცდელობისთვის
        {% endblocktrans %}
      </p>
      <p class="comment">{% trans "teamX-ის დირექტორი" %}</p>
    </div>

  </div>

{% endblock %}
