{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% trans "წარმატებული გადახდა" %}
{% endblock %}

{% block content %}

  <div class="row">
    <div class="page-header">
      <h3>{% trans "გილოცავთ" %}!</h3>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="success">
            <td><strong>{% trans "დასახელება" %}</strong></td>
            <td><strong>{% trans "ინფორმაცია" %}</strong></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{% trans "სტატუსი" %}</td>
            <td>{% trans "თქვენი შეკვეთა წარმატებით განხორციელდა" %}</td>
          </tr>
          <tr>
            <td>{% trans "მიწოდება" %}</td>
            <td>{% trans "მიწოდება განხორციელდება 2 დღის განმავლობაში" %}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <a href="{% url 'auth:profile' %}#orders">
      {% trans "ჩემი შეკვეთები" %}
    </a>

    <br><br>


    <div class="pull-right">
      <p class="comment">
        {% blocktrans %}
          მადლობას გიხდით თქვენი შეკვეთისთვის, ჩვენ ვიზრუნებთ, რომ თქვენი შეკვეთა
          თქვენამდე იქნას მოტანილი სწრაფად და ხარისხიანად!
        {% endblocktrans %}
      </p>
      <p class="comment">{% trans "teamX-ის დირექტორი" %}</p>
    </div>

  </div>

{% endblock %}
