{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% trans "შეჯამება" %}
{% endblock %}

{% block content %}

  <div class="row">
    <div class="page-header">
      <h4>{% trans "თქვენი მისამართი" %}</h4>
    </div>

    <p><strong>{% trans "მისამართი:" %}</strong> {{request.user.get_address}}</p>
    <p><strong>{% trans "შეტყობინება:" %}</strong> {{request.user.address.message}}</p>
    <strong><p>{% trans "მიტანის სერვისი:" %} 1₾</p></strong>
  </div>

  <div class="row">
    <div class="page-header">
      <h4>{% trans "თქვენი ნივთები" %}</h4>
    </div>

    <div class="table-responsive">
      <table class="table table-sum">
        <thead>
          <tr class="warning">
            <td>{% trans "პროდუქტი" %}</td>
            <td>{% trans "ვარიანტი" %}</td>
            <td>{% trans "ფასი" %}</td>
            <td>{% trans "სრული ფასი" %}</td>
          </tr>
        </thead>
        <tbody>
          {% for line in user.basket.lines.all %}
            <tr class="success">
              <td>{{line.option.product.get_sname}}</td>
              <td>{{line.option.get_sname}}</td>
              <td>{{line.option.get_price}}₾ x {{line.quantity}}</td>
              <td>{{line.get_price}}₾</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <br>

    <div class="total-price pull-right">
      {% trans "ჯამი: " %}
      {{request.user.basket.get_total}}₾
    </div>
  </div>

  <br>

  <a href="{% url 'checkout:add' %}" class="btn btn-default">
    <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
    {% trans "მისამართის შესწორება" %}
  </a>

  <a href="{% url 'checkout:purchase_success' %}" class="btn btn-success">
    {% trans "დადასტურება და ყიდვა" %}
    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
  </a>



{% endblock %}
