{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% blocktrans with name=opts.verbose_name %}Add {{ name }}{% endblocktrans %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
    </li>
    {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% block admin_change_form_document_ready %}
    <script type="text/javascript"
            id="django-admin-form-add-constants"
            src="{% static 'admin/js/change_form.js' %}"
            {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
            {% endif %}>
    </script>
{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>

{# HTML&CSS for visionX services #}
<input class="hidden" data-url="{% url 'calipso:visionX' %}" value="{% url 'calipso:visionX' %}" id="service-url" />
<style>
    .kwd{
        text-align: center;
        width: 100%;
        max-width: 200px;
        background: #111;
        padding: 5px;
        color: white;
        display: inline-table;
    }
    .kwd:hover{
        color: #111;
        background: #ccc;
        cursor: pointer;
    }
</style>
{# Javascript for visionX services #}
<script>
    var workSpaceHTML = `<div id="workspace"><div class="module"><h2><strong>{% trans "კალიფსო" %}</strong> | <span id="help_text"></span></h2></div><div id="kwd_cont"></div></div>`;
    var keywordHTML = '<div class="kwd" onClick="kwdClickHandler(this)">KWD</div>';
    var autoHTML = '<div id="id_keywords_on_deck_KWDPK"><span class="ui-icon ui-icon-trash" id="kill_KWDPKid_keywords">X</span><span class="keyword">KWDFN</span></div>'
    var imgInpIndex = 0;
    var keywords = [];

    $(document).ready(function(){
        initWorkspace();
        // setTimeout(function(){suggest(["giorgi", "elene", "highasfuck"]);}, 350);
        // initialize first image input change handler
        $("#id_image_set-" + imgInpIndex + "-image").on("change", imageChangeHandler);
        // initialize dynamically generated image handler assignment loop
        initAssignmentLoop();
    });

    function initWorkspace(){
        var index = $("#id_image_set-MAX_NUM_FORMS").parent().prepend(workSpaceHTML);
        $("#workspace").animate({"height":'+=29'}, 500);
        $("#help_text").html('{% trans "მიმდინარეობს შეყვანილი ინფორმაციის დამუშავება" %}')
    }

    function initAssignmentLoop(){
        imgInpIndex += 1;
        $(".add-row a").on("click", function(){
            if ($("#id_image_set-" + imgInpIndex + "-image").length){
                $("#id_image_set-" + imgInpIndex + "-image").on("change", imageChangeHandler);
                imgInpIndex += 1;
            }
        });
    }

    function imageChangeHandler(){
        showLoading();

        var formData = new FormData();
        formData.append("image", $(this).prop("files")[0]);
        formData.append("image_upload", true);
        getService(formData, function(data){
            hideLoading();
            if (data['keywords'].length)
                setTimeout(function(){suggest(data['keywords'])}, 350);
        });
    }

    function kwdClickHandler(element){
        var formData = new FormData();
        formData.append("keyword_goc", true);
        formData.append("foreign_name", $(element).html());
        getService(formData, function(data){
            // should return - keywords pk
            var fname = $(element).html();
            var pk = data['kwd_pk'];

            if ($("#id_keywords_on_deck_" + pk).length == 0){
                var initial = $("#id_raw").val();
                if (initial.length == 0)
                    initial = pk;
                else
                    initial += "|" + pk;
                $("#id_raw").val(initial);

                $("#id_keywords_on_deck").prepend(autoHTML.replace("KWDPK", pk)
                    .replace("KWDPK", pk).replace("KWDFN", fname));
            } else {
                
            }
        });
    }

    function getService(formData, callback){
        $.ajax({
            url: $("#service-url").attr("data-url"),
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: callback,
        });
    }
    
    function suggest(keywords){
        $.each(keywords, function(k, v){
            $("#kwd_cont").append(keywordHTML.replace("KWD", v));
        });
    }

    function showLoading(){
        $("#help_text").html('{% trans "მიმდინარეობს keyword-ების გენერაცია" %}');
    }

    function hideLoading(){
        $("#help_text").html('{% trans "გთხოვთ აირჩიოთ ქვემოთ დაგენერირებული keyword-ები" %}');
        $("html, body").animate({ scrollTop: $("#help_text").offset().top - 20 }, 500);
    }

</script>
{% endblock %}