{% load i18n thumbnail %}

<div class="col-xs-6 col-md-4 post-mansory-item animation">
    <article class="post post-medium">
        <div class="post-image single">
            <span class="post-info-act">
                <a href="{{object.get_absolute_url}}"><i class="fa fa-caret-right"></i></a>
            </span>
            {% if object.image %}
            <a href="{{object.get_absolute_url}}">
                {% thumbnail object.image "450x200" crop="center" quality=60 as th %}
                <img class="img-responsive" src="{{th.url}}" alt="Blog">
                {% endthumbnail %}
            </a>
            {% endif %}
        </div>
        <div class="post-content">
            <h3>
                <a href="{{object.get_absolute_url}}">{{object.get_title}}</a>
            </h3>
            <div class="post-meta">
                <span>
                    <a href="{% url 'blog:list' %}">{% trans "handX" %}</a>
                </span>
            </div>
        
            <p>{{object.get_short_content|safe}}<p>
            <div class="post-meta post-meta-foot">
                <span class="pull-left"><i class="fa fa-clock-o"></i>{{object.created|date}}</span>
                <span class="pull-right">
                    <i class="fa fa-comment-o"></i>
                    <a href="#">0 {% trans 'კომენტარი' %}</a>
                </span>
            </div>
        </div>
        
    </article>
</div>