{% extends "base.html" %}
{% load i18n static %}

{% block title %} {% trans "მისამართი" %} {% endblock title %}

{% block content %}

<section class="page-top">
  <div class="container">
    <div class="page-top-in">
      <h2><span>{% trans "მისამართი" %}</span></h2>
    </div>
  </div>
</section>

<div class="container">
  <div class="row row-centered">
    <div class="col-centered">
      {#{% include 'partials/map.html' %}#}
      <div class="warning-box">
        {% trans "შეგახსენებთ, რომ მიტანა ხორციელდება მხოლოდ თბილისის მასშტაბით!" %}
      </div>
      <br>
      <form action="." method="POST">
        {% csrf_token %}
        {{form.as_p}}

        <div class="alert alert-success">
          <i class="fa fa-money" aria-hidden="true"></i>
          <strong>{% trans "მიწოდების ღირებულება" %}:</strong>
          GEL <span id="deliveryPrice"> 0.00</span>
        </div>

        <a href="{% url 'auth:profile' %}" class="btn btn-secondary">
          {% trans "კალათა" %}
        </a>
        <button type="submit" class="btn btn-primary">
          {% trans "შეჯამება" %}
        </button>
      </form>

    </div>
  </div>
</div>

<br><br>

{% endblock content %}

{% block scripts %}
  {#<script src="{% static 'js/vue.js' %}"></script>#}
  {#<script src="{% static 'js/address.js' %}"></script>#}
  {{form.media}}
{% endblock %}
