{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "შეჯამება" %} {% endblock title %}

{% block content %}

<section class="page-top">
  <div class="container">
    <div class="page-top-in">
      <h2><span>{% trans "შეჯამება" %}</span></h2>
    </div>
  </div>
</section>

<div class="container">
  <div class="col-centered">
    <p><strong>{% trans "მისამართი:" %}</strong> {{request.user.get_address}}</p>
    <p>
      <strong>{% trans "შეტყობინება:" %}</strong>
      {% if request.user.address.message %}
        {{request.user.address.message}}
      {% else %}
        {% trans "შეტყობინება არ არის დატოვებული" %}
      {% endif %}
    </p>
    <strong><p>{% trans "მიტანის სერვისი:" %} GEL {{order.deliveryPrice}}</p></strong>

    <br>

    <div class="table-responsive">
      <table class="table table-sum">
        <thead>
          <tr class="warning">
            <td>{% trans "პროდუქტი" %}</td>
            <td>{% trans "ვარიანტი" %}</td>
            <td>{% trans "ფასი" %}</td>
            <td>{% trans "სრული ფასი" %}</td>
          </tr>
        </thead>
        <tbody>
          {% for line in user.basket.lines.all %}
            <tr class="success">
              <td>{{line.option.product.get_sname}}</td>
              <td>{{line.option.get_sname}}</td>
              <td>GEL {{line.option.get_price}} x {{line.quantity}}</td>
              <td>GEL {{line.get_price}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="total-price pull-left">
      <strong>{% trans "ჯამი: " %}</strong>
      GEL {{order.get_price}}
    </div>

    <br><br>

    <form action="https://e-commerce.cartubank.ge/servlet/Process3DSServlet/3dsproxy_init.jsp" method="post">
    {% comment %} HIDDEN FORM FOR CARTU BANK {% endcomment %}
      <input name="PurchaseDesc" type="hidden" value="{{order.pk}}">
      <input name="PurchaseAmt" type="hidden" value="{{order.get_price}}">
      <input name="CountryCode" type="hidden" value="268">
      <input name="CurrencyCode" type="hidden" value="981">
      <input name="MerchantName" type="hidden" value="handx.org!www.handx.org">
      <input name="MerchantURL" type="hidden" value="http://handx.org/">
      <input name="MerchantCity" type="hidden" value="Tbilisi">
      <input name="MerchantID" type="hidden" value="000000008001212-00000001">
      <input name="xDDDSProxy.Language" type="hidden" value="01">

      <a href="{% url 'checkout:address_add' %}" class="btn btn-secondary">
        {% trans "მისამართის შესწორება" %}
      </a>

      <button href="{% url 'checkout:purchase_success' order_pk=order.pk %}" class="btn btn-primary" type="submit">
        {% trans "დადასტურება და ყიდვა" %}
      </button>
    </form>
    {% comment %} END OF BANK FORM {% endcomment %}
  </div>
</div>

<br><br>

{% endblock content %}
