{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "შეტყობინებები" %} {% endblock %}

{% block content %}
<style>
    .panel-title{
        font-size: 15px !important;
    }
    .panel-title-inner{
        font-size: 13px !important;
        font-weight: normal !important;
    }
    .message-body{
        font-size: 14px !important;
        padding: 5px;
        padding-bottom: 15px !important;
    }
</style>

<section class="page-top">
  <div class="container">
    <div class="page-top-in">
      <h2><span>{% trans "შეტყობინებები" %}</span></h2>
    </div>
  </div>
</section>

<div class="row" style="min-height: 400px;">
    <div class="col-centered" style="padding: 0px 17px;">

        <div class="page-header">
            <h4>{% trans "ახალი შეტყობინებები" %}<h4>
        </div>
    
        <div class="panel-group panel-group2" id="accordion_news">
            {% for message in messages_new %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion_news" href="#collapse{{message.pk}}"
                            onclick="ajaxable_v2(event, function(){})" data-method="markMsgAsRead" data-args="{'mpk': {{message.pk}}}">
                            {{message.sender}} ({{message.created|date:"d-M-Y"}})</a></h5>
                    </div>
                    <div id="collapse{{message.pk}}" class="panel-collapse collapse out">
                        <div class="panel-body">
                            {{message.content}}
                        </div>
                        <a href="{{message.get_default_action}}" class="btn btn-primary">{% trans "შემოთავაზებული ქმედება" %}</a>
                        <a href="{{message.get_default_action}}" class="btn btn-primary">{% trans "წაშლა" %}</a></br></br>
                    </div>
                </div>
            {% empty %}
                {% trans "თქვენ არ გაქვთ ახალი შეტყობინებები" %}
            {% endfor %}
        </div>


        <div class="page-header">
            <h4>{% trans "ნანახი შეტყობინებები" %}<h4>
        </div>
    
        <div class="panel-group panel-group2" id="accordion_viewed">
            {% for message in messages_seen %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion_viewed" href="#collapse{{message.pk}}">{{message.sender}}</a></h5>
                    </div>
                    <div id="collapse{{message.pk}}" class="panel-collapse collapse out">
                        <div class="panel-body">
                            {{message.content}}
                        </div>
                        {% if message.get_dafault_action %}
                            <a href="{{message.get_default_action}}" class="btn btn-primary">{% trans "შემოთავაზებული ქმედება" %}</a>
                            <a href="{{message.get_default_action}}?delete=1" class="btn btn-primary">{% trans "წაშლა" %}</a>
                        {% else %}
                            <a onclick="ajaxable_v2(event, delete_message)" data-method="deleteMsg" data-args="{'mpk': {{message.pk}}}" class="btn btn-primary">{% trans "წაშლა" %}</a>
                        {% endif %}
                        </br></br></br></br>
                    </div>
                </div>
            {% empty %}
                {% trans "თქვენ არ გაქვთ ნანახი შეტყობინებები" %}
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function delete_message(r, t){
        $(t).parent().parent().hide();
        show_message_v2(r);
    }
</script>
{% endblock %}