{% load i18n static %}

<!-- FB AUTHENTICATION -->

<div id="fb-root"></div>
<script async defer>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ka_GE/sdk.js#xfbml=1&version=v2.9&appId=176767892819777";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- END OF FB AUTHENTICATION-->

<!-- Modal -->
<div id="authModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <ul class="nav nav-tabs" style="border:none;">
            <li class="active" style="width:50%;">
                <a style="text-align:center;border:none;" data-toggle="tab" href="#signin">
                    {% trans "ავტორიზაცია" %}
                </a>
            </li>
            <li style="width:50%;">
                <a style="text-align:center;border:none;" data-toggle="tab" href="#signup">
                    {% trans "რეგისტრაცია" %}
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="signin" class="tab-pane fade in active">
                <br>
                <form method="POST" action="{% url 'auth:signin' %}" id="signinForm">
                    {% csrf_token %}
                    <p>
                        <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" 
                        data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"
                        onlogin="checkLoginState()" scope="public_profile,email"></div>
                    </p>
                    <p class="error" style="text-align:center;" id="signinError"> </p>
                    <p><input class="form-control" type="email" name="email" placeholder="{% trans 'ელ.ფოსტა' %}"></p>
                    <p><input class="form-control" type="password" name="password" placeholder="{% trans 'პაროლი' %}"></p>
                    <p>
                        <button type="submit" class="btn btn-primary">{% trans "ავტორიზაცია" %}</button>
                        <a href="{% url 'auth:password' %}" class="btn btn-primary">{% trans "პაროლის აღდგენა" %}</a>
                    </p>
                </form>
            </div>
            <div id="signup" class="tab-pane fade">
                <br>
                <form method="POST" action="{% url 'auth:signup' %}" id="signupForm">
                    {% csrf_token %}
                    <p>
                        <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" 
                        data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"
                        onlogin="checkLoginState()" scope="public_profile,email"></div>
                    </p>

                    <div id="signupErrors" class="error" style="text-align:center;">
                        <!--errors go here-->
                    </div>

                    <p>
                        <label for="id_name">{% trans "სახელი და გვარი" %}</label>
                        <input name="name" required="" class="form-control" id="id_name" type="text">
                    </p>
                    <p>
                        <label for="id_phone">{% trans "ტელეფონის ნომერი" %}</label>
                        <input name="phone" required="" class="form-control" id="id_phone" type="text">
                    </p>
                    <p>
                        <label for="id_email">{% trans "ელ.ფოსტა" %}</label><br>
                        <input name="email" required="" class="form-control" id="id_email" type="text">
                    </p>
                    <p>
                        <label for="id_password">{% trans "პაროლი" %}</label>
                        <input name="password" required="" class="form-control" id="id_password" type="password"></p>
                    <p>
                        <button type="submit" class="btn btn-primary">{% trans "რეგისტრაცია" %}</button>
                        <a class="btn" href="{% url 'selling:direct' %}">{% trans "ან დაიწყე გაყიდვა" %}</a>
                    </p>
                </form>
            </div>
            <div id="reset" class="tab-pane fade">
                {% trans "პაროლის აღდგენა" %}
            </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% block scripts %}

<script href="{% static 'js/authentication.js' %}"></script>

{% endblock scripts %}