{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans "პაროლი შეცვლა" %} {% endblock %}

{% block content %}
<section class="page-top">
  <div class="container">
    <div class="page-top-in">
      <h2><span>{% trans "პაროლის შეცვლა" %}</span></h2>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    
    {% if step == 0 %}
    <div class="col-centered animation">
      <div class="page-header">
        <h4>{% trans "პაროლის შეცვლა" %}</h4>
      </div>
      <form method="POST" action=".">
        {% csrf_token %}
        <p>{% trans "მიუთითეთ თქვენი ელ.ფოსტა, რომელიც გამოიყენეთ რეგისტრაციის დროს, აღსადგენი ბმულის გამოსაგზავნად" %}</p>
        <p><input class="form-control" type="email" name="email" placeholder="{% trans 'ელ.ფოსტა' %}"></p>
        <p>
          <button name="step_email" type="submit" class="btn btn-primary" value="true">{% trans "ბმულის გაგზავნა ელ.ფოსტაზე" %}</button>
        </p>
      </form>
    </div>

    {% elif step == 1 %}

    <div class="col-centered animation">
      <div class="page-header">
        <h4>{% trans "პაროლის შეცვლა" %}</h4>
      </div>
      <form method="POST" action=".">
        {% csrf_token %}
        <p>{% trans "მიუთითეთ ახალი პაროლი, რომელიც ჩაანაცვლებს ძველს" %}
        <p><input class="form-control" type="password" name="password" placeholder="{% trans 'პაროლი' %}"></p>
        <p>
          <button type="submit" name="step_password" class="btn btn-primary" value="true">{% trans "პაროლის განახლება" %}</button>
        </p>
      </form>
    </div>

    {% endif %}

    <div class="spacer-horizontal"></div>
    <div class="spacer-horizontal"></div>
    <div class="spacer-horizontal"></div>
    <div class="spacer-horizontal"></div>
    <div class="spacer-horizontal"></div>
  </div>
</div>
{% endblock content %}