{% extends "base.html" %}
{% load i18n static %}

{% block title %} {% trans "პროფილი" %} {% endblock title %}

{% block content %}


<section class="page-top">
  <div class="container">
    <div class="page-top-in">
      <h2><span>{% trans "პროფილი" %}</span></h2>
    </div>
  </div>
</section>

<div role="main" class="main">
  <div class="container">
    
    <div class="row">
      <div class="page-header">
        <h4>{% trans "გამარჯობა!" %}</h4>
      </div>

      <form action="." method="POST" class="form-narrow">
        {% csrf_token %}
        {{updateForm.as_p}}
        <button class="btn btn-primary" type="submit">{% trans "ინფორმაციის განახლება" %}</button>
      </form>
    </div>

    <div class="spacer-horizontal"></div>

    <div class="row">
      <div class="page-header">
        <h4>{% trans "შენი კალათა" %} ({{user.basket.lines.count}})</h4>
      </div>
      {% if not user.basket.is_empty %}
        <div class="row featured-boxes">
          {% include 'basket/partials/basket_table.html' %}
          {% include 'basket/partials/basket_price.html' %}
        </div>
      {% else %}
        <div class="content-center">
          <a class="text-nice btn btn-secondary" href="{% url 'shop:list' %}">
            {% trans "თქვენი კალათა ცარიელია, შეარჩიეთ ნივთები" %}
          </a>
        </div>
      {% endif %}
    </div>

    <div class="spacer-horizontal"></div>

    <div class="row animation">
      <div class="page-header">
        <h4>{% trans "შეკვეთები" %}</h4>
      </div>
      {% if user.get_orders.count > 0 %}
        {% include 'checkout/partials/order_table.html' %}
      {% else %}
        <div class="content-center">
          <a href="{% url 'shop:list' %}" class="text-nice btn btn-secondary">
            {% trans "ჰმმ, მოდი, ჯერ პროდუქტი იყიდე :)" %}
          </a>
        </div>
      {% endif %}
    </div>

    <div class="spacer-horizontal"></div>

  </div>
</div>

{% endblock content %}

{% block scripts %}

  <script src="{% static 'js/mask.min.js' %}"></script>

  <script>
    function updateQ(lpk, status){
      var targetId = "#quant" + lpk;
      var quantity = parseInt($(targetId).val());
      var max = parseInt($(targetId).attr("max"));
      var min = parseInt($(targetId).attr("min"));
      var args = $(targetId).attr("data-args");
      if (status && quantity != max)
        args = args.replace("'newQ':" + quantity, "'newQ':" + (quantity + 1));
      else if (!status && quantity != min)
        args = args.replace("'newQ':" + quantity, "'newQ':" + (quantity - 1))
      $(targetId).attr("data-args", args);
      ajaxable_v2_wrap($(targetId), function(data, target){
        data = JSON.parse(data);
        $("#line_total_price" + lpk).text("GEL " + data['line_total']);
        $("#basket_total").text("GEL " + data['basket_total']);
        $(targetId).val(data['quantity']);
        if (data['message'])
          show_message_v2(data['message'])
      });
    }

    $("#id_phone").mask("999-999-999");
  </script>
{% endblock %}