{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "ავტორიზაცია" %}{% endblock title %}

{% block content %}

<!-- FB AUTHENTICATION -->
<div id="fb-root"></div>

<script async defer>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ka_GE/sdk.js#xfbml=1&version=v2.9&appId=176767892819777";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- END OF FB AUTHENTICATION-->

<section class="page-top">
  <div class="container">
    <div class="page-top-in">
      <h2><span>{% trans "პროფილი" %}</span></h2>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-centered animation">
      <div class="page-header">
        <h4>{% trans "ავტორიზაცია" %}</h4>
      </div>
      <p>
        <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" 
          data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"
          onlogin="checkLoginState()" scope="public_profile,email"></div>
      </p>
      <form method="POST" action="{% url 'auth:signin' %}">
        {% csrf_token %}
        <p><input class="form-control" type="email" name="email" placeholder="{% trans 'ელ.ფოსტა' %}"></p>
        <p><input class="form-control" type="password" name="password" placeholder="{% trans 'პაროლი' %}"></p>
        <p>
          <button type="submit" class="btn btn-primary">{% trans "ავტორიზაცია" %}</button>
          <a href="{% url 'auth:password' %}" class="btn btn-primary">{% trans "პაროლის აღდგენა" %}</a>
        </p>
      </form>

    </div>

    <div class="spacer-horizontal"></div>

    <div class="col-centered animation">
      <div class="page-header">
        <h4>{% trans "რეგისტრაცია" %}</h4>
      </div>
      <form method="POST" action="{% url 'auth:signup' %}">
        {% csrf_token %}
        {{form.as_p}}
        <p>
          <button type="submit" class="btn btn-primary">{% trans "რეგისტრაცია" %}</button>
          <a class="btn" href="{% url 'selling:direct' %}">{% trans "ან დაიწყე გაყიდვა" %}</a>
        </p>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'js/mask.min.js' %}"></script>

  <script>
    $("#id_phone").mask("999-999-999");

    function checkLoginState() {
      FB.getLoginStatus(function(response) {
        if (response.status == "connected"){
          FB.api('/me?fields=email,name', function(response) {
            if ("name" in response && "email" in response && "id" in response){
              $.get("/auth/socauth/", {
                email: response.email,
                name: response.name,
                id: response.id}, function(data, status){
                  if ("redirect" in data)
                    window.location.href = data['redirect']
                });
            }
          });
        } else {
          // TODO SOME ERROR
        }
      });
    }
  </script>

{% endblock scripts %}
