{% extends "base.html" %}
{% load i18n thumbnail %}

{% comment %}
{% block head %}
<!--facebook meta tags-->
<meta property="fb:app_id"	      content="176767892819777" />
<meta property="og:url"           content="http://{{request.get_host}}{{request.get_full_path}}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="{{object.name}}" />
<meta property="og:description"   content="{{object.get_content|striptags|truncatewords_html:20}}" />
{% if object.image %}
<meta property="og:image"         content="http://{{request.get_host}}{{object.image.url}}" />
{% else %}
<meta property="og:image"         content="http://{{request.get_host}}/static/images/logo3x.jpg" />
{% endif %}

{% endblock head %}
{% endcomment %}

{% block title %} {{object}} {% endblock title %}

{% block content %}

<section class="page-top">
  <div class="container">
    <div class="page-top-in">
      <h2><span>{% trans "კალათა" %}</span></h2>
    </div>
  </div>
</section>

<div role="main" class="main">
  <div class="container">

    <div class="row" style="min-height:350px;">
        {{user.basket}} {{basket.lines.count}}
        {% if not user.basket.is_empty %}
        <div class="row featured-boxes">
            {% include 'basket/partials/basket_table.html' %}
            {% include 'basket/partials/basket_price.html' %}
        </div>
        {% else %}
        <div class="content-center">
            <a class="text-nice btn btn-secondary" href="{% url 'shop:list' %}">
            {% trans "თქვენი კალათა ცარიელია, შეარჩიეთ ნივთები" %}
            </a>
        </div>
        {% endif %}
    </div>

    <div class="spacer-horizontal"></div>

  </div>
</div>

{% endblock content %}